( //and then in here we specify each item's data
    items : {
        None: WorldObjectData(
            texture_pos: (13., 15.),
            size: (16., 16.),
            anchor: None,
        ),
        StoneShard: WorldObjectData(
            texture_pos: (0., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        Chestplate: WorldObjectData(
            texture_pos: (0., 1.),
            size: (16., 16.),
            anchor: None,
        ),
        Pants: WorldObjectData(
            texture_pos: (0., 2.),
            size: (16., 16.),
            anchor: None,
        ),
        Fireball: WorldObjectData(
            texture_pos: (1., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        Log: WorldObjectData(
            texture_pos: (2., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        StoneWallBlock: WorldObjectData(
            texture_pos: (1., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        DungeonStone: WorldObjectData(
            texture_pos: (2., 6.),
            size: (32., 32.),
            anchor: None,
        ),
        Sword: WorldObjectData(
            texture_pos: (3., 4.),
            size: (16., 16.),
            anchor: Some((0.25, 0.25)),
        ),
        Dagger: WorldObjectData(
            texture_pos: (4., 4.),
            size: (16., 16.),
            anchor: Some((0.2, 0.25)),
        ),
        FireStaff: WorldObjectData(
            texture_pos: (5., 4.),
            size: (16., 16.),
            anchor: Some((0.2, 0.23)),
        ),
        BasicStaff: WorldObjectData(
            texture_pos: (6., 4.),
            size: (16., 16.),
            anchor: Some((0.2, 0.23)),
        ),
        DualStaff: WorldObjectData(
            texture_pos: (7., 4.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        Ring: WorldObjectData(
            texture_pos: (4., 2.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        Pendant: WorldObjectData(
            texture_pos: (4., 3.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        LargePotion: WorldObjectData(
            texture_pos: (0., 5.),
            size: (16., 16.),
            anchor: None,
        ),
        SmallPotion: WorldObjectData(
            texture_pos: (2., 5.),
            size: (16., 16.),
            anchor: None,
        ),
        Chest: WorldObjectData(
            texture_pos: (0., 9.),
            size: (16., 16.),
            anchor: None,
        ),
        ChestBlock: WorldObjectData(
            texture_pos: (0., 6.),
            size: (16., 16.),
            anchor: None,
        ),
         DungeonEntrance: WorldObjectData(
            texture_pos: (2., 9.),
            size: (32., 32.),
            anchor: None,
        ),
        DungeonEntranceBlock: WorldObjectData(
            texture_pos: (2., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        GrassBlock: WorldObjectData(
            texture_pos: (0., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        Grass: WorldObjectData(
            texture_pos: (0., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        Boulder: WorldObjectData(
            texture_pos: (4., 9.),
            size: (32., 32.),
            anchor: None,
        ),
        Stick: WorldObjectData(
            texture_pos: (10., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        PlantFibre: WorldObjectData(
            texture_pos: (11., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        SlimeGoo: WorldObjectData(
            texture_pos: (12., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        Bandage: WorldObjectData(
            texture_pos: (13., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        String: WorldObjectData(
            texture_pos: (14., 4.),
            size: (16., 16.),
            anchor: None,
        ),
    },
    icons : {
        DungeonStone: SpriteData(
            texture_pos: (2., 6.),
            size: (16., 16.),
        ),
        StoneWallBlock: SpriteData(
            texture_pos: (1., 6.),
            size: (16., 16.),
        ),
        Sword: SpriteData(
            texture_pos: (3., 5.),
            size: (16., 16.),
        ),
        Dagger: SpriteData(
            texture_pos: (4., 5.),
            size: (16., 16.),
        ),
        FireStaff: SpriteData(
            texture_pos: (5., 5.),
            size: (16., 16.),
        ),
        BasicStaff: SpriteData(
            texture_pos: (6., 5.),
            size: (16., 16.),
        ),
        DualStaff: SpriteData(
            texture_pos: (7., 5.),
            size: (16., 16.),
        ),
    }
)