(
    items: {
        None: WorldObjectData(
            texture_pos: (15., 0.),
            size: (16., 16.),
            anchor: None,
        ),
        GreyCape: WorldObjectData(
            texture_pos: (0., 0.),
            size: (16., 16.),
            anchor: None,
        ),
        RedCape: WorldObjectData(
            texture_pos: (4., 0.),
            size: (16., 16.),
            anchor: None,
        ),
        GreenCape: WorldObjectData(
            texture_pos: (2., 0.),
            size: (16., 16.),
            anchor: None,
        ),
        BlueCape: WorldObjectData(
            texture_pos: (3., 0.),
            size: (16., 16.),
            anchor: None,
        ),
        Flint: WorldObjectData(
            texture_pos: (0., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        Chestplate: WorldObjectData(
            texture_pos: (0., 1.),
            size: (16., 16.),
            anchor: None,
        ),
        MetalPants: WorldObjectData(
            texture_pos: (0., 2.),
            size: (16., 16.),
            anchor: None,
        ),
        MetalShoes: WorldObjectData(
            texture_pos: (0., 3.),
            size: (16., 16.),
            anchor: None,
        ),
        LeatherTunic: WorldObjectData(
            texture_pos: (1., 1.),
            size: (16., 16.),
            anchor: None,
        ),
        LeatherPants: WorldObjectData(
            texture_pos: (1., 2.),
            size: (16., 16.),
            anchor: None,
        ),
        LeatherShoes: WorldObjectData(
            texture_pos: (1., 3.),
            size: (16., 16.),
            anchor: None,
        ),
        ForestShirt: WorldObjectData(
            texture_pos: (2., 1.),
            size: (16., 16.),
            anchor: None,
        ),
        ForestPants: WorldObjectData(
            texture_pos: (2., 2.),
            size: (16., 16.),
            anchor: None,
        ),
        ForestShoes: WorldObjectData(
            texture_pos: (2., 3.),
            size: (16., 16.),
            anchor: None,
        ),
        Fireball: WorldObjectData(
            texture_pos: (1., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        Log: WorldObjectData(
            texture_pos: (2., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        StoneWallBlock: WorldObjectData(
            texture_pos: (1., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        Sword: WorldObjectData(
            texture_pos: (3., 5.),
            size: (16., 16.),
            anchor: Some((0.25, 0.25)),
        ),
        WoodSword: WorldObjectData(
            texture_pos: (3., 7.),
            size: (16., 16.),
            anchor: Some((0.25, 0.25)),
        ),
        Dagger: WorldObjectData(
            texture_pos: (4., 5.),
            size: (16., 16.),
            anchor: Some((0.2, 0.25)),
        ),
        IceStaff: WorldObjectData(
            texture_pos: (5., 5.),
            size: (16., 16.),
            anchor: Some((0.2, 0.23)),
        ),
        BasicStaff: WorldObjectData(
            texture_pos: (6., 5.),
            size: (16., 16.),
            anchor: Some((0.2, 0.23)),
        ),
        DualStaff: WorldObjectData(
            texture_pos: (7., 5.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        WoodAxe: WorldObjectData(
            texture_pos: (8., 4.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        WoodPickaxe: WorldObjectData(
            texture_pos: (7., 3.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        WoodBow: WorldObjectData(
            texture_pos: (8., 5.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        Arrow: WorldObjectData(
            texture_pos: (9., 5.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        Claw: WorldObjectData(
            texture_pos: (4., 7.),
            size: (16., 16.),
            anchor: Some((0.25,-0.2)),
        ),
        ThrowingStar: WorldObjectData(
            texture_pos: (4., 6.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        BushlingScale: WorldObjectData(
            texture_pos: (6., 6.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        MagicWhip: WorldObjectData(
            texture_pos: (11., 5.),
            size: (16., 16.),
            anchor: Some((0.2, 0.23)),
        ),
        Ring: WorldObjectData(
            texture_pos: (4., 2.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        Pendant: WorldObjectData(
            texture_pos: (4., 3.),
            size: (16., 16.),
            anchor: Some((0.2,0.0)),
        ),
        LargePotion: WorldObjectData(
            texture_pos: (0., 5.),
            size: (16., 16.),
            anchor: None,
        ),
        SmallPotion: WorldObjectData(
            texture_pos: (2., 5.),
            size: (16., 16.),
            anchor: None,
        ),
        LargeManaPotion: WorldObjectData(
            texture_pos: (0., 7.),
            size: (16., 16.),
            anchor: None,
        ),
        SmallManaPotion: WorldObjectData(
            texture_pos: (2., 7.),
            size: (16., 16.),
            anchor: None,
        ),
        UpgradeStation: WorldObjectData(
            texture_pos: (0., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        UpgradeStationBlock: WorldObjectData(
            texture_pos: (0., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        UpgradeTome: WorldObjectData(
            texture_pos: (2., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        OrbOfTransformation: WorldObjectData(
            texture_pos: (7., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        Chest: WorldObjectData(
            texture_pos: (0., 9.),
            size: (16., 16.),
            anchor: None,
        ),
        ChestBlock: WorldObjectData(
            texture_pos: (0., 8.),
            size: (16., 16.),
            anchor: None,
        ),
        Anvil: WorldObjectData(
            texture_pos: (1., 8.),
            size: (16., 16.),
            anchor: None,
        ),
        AnvilBlock: WorldObjectData(
            texture_pos: (1., 8.),
            size: (16., 16.),
            anchor: None,
        ),
        Scrapper: WorldObjectData(
            texture_pos: (1., 9.),
            size: (16., 16.),
            anchor: None,
        ),
        ScrapperBlock: WorldObjectData(
            texture_pos: (1., 9.),
            size: (16., 16.),
            anchor: None,
        ),
        Cauldron: WorldObjectData(
            texture_pos: (2., 8.),
            size: (16., 16.),
            anchor: None,
        ),
        CauldronBlock: WorldObjectData(
            texture_pos: (2., 8.),
            size: (16., 16.),
            anchor: None,
        ),
        Furnace: WorldObjectData(
            texture_pos: (3., 8.),
            size: (16., 16.),
            anchor: None,
        ),
        FurnaceBlock: WorldObjectData(
            texture_pos: (3., 8.),
            size: (16., 16.),
            anchor: None,
        ),
        DungeonEntrance: WorldObjectData(
            texture_pos: (2., 9.),
            size: (32., 32.),
            anchor: None,
        ),
        DungeonEntranceBlock: WorldObjectData(
            texture_pos: (2., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        CombatShrine: WorldObjectData(
            texture_pos: (15., 11.),
            size: (16., 32.),
            anchor: None,
        ),
        CombatShrineDone: WorldObjectData(
            texture_pos: (15., 9.),
            size: (16., 32.),
            anchor: None,
        ),
        GrassBlock: WorldObjectData(
            texture_pos: (0., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        Grass: WorldObjectData(
            texture_pos: (0., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        Grass2: WorldObjectData(
            texture_pos: (2., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        Grass3: WorldObjectData(
            texture_pos: (3., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        DeadSapling: WorldObjectData(
            texture_pos: (1., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        Bridge: WorldObjectData(
            texture_pos: (2., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        BridgeBlock: WorldObjectData(
            texture_pos: (3., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        DungeonExit: WorldObjectData(
            texture_pos: (4., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        WoodDoorBlock: WorldObjectData(
            texture_pos: (5., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        RedMushroom: WorldObjectData(
            texture_pos: (10., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        BrownMushroom: WorldObjectData(
            texture_pos: (10., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        RedMushroomBlock: WorldObjectData(
            texture_pos: (10., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        BrownMushroomBlock: WorldObjectData(
            texture_pos: (10., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        BerryBush: WorldObjectData(
            texture_pos: (4., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        Berries: WorldObjectData(
            texture_pos: (5., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        Boulder: WorldObjectData(
            texture_pos: (4., 9.),
            size: (32., 32.),
            anchor: None,
        ),
        CoalBoulder: WorldObjectData(
            texture_pos: (6., 9.),
            size: (32., 32.),
            anchor: None,
        ),
        Bush: WorldObjectData(
            texture_pos: (6., 7.),
            size: (32., 32.),
            anchor: None,
        ),
        Bush2: WorldObjectData(
            texture_pos: (8., 7.),
            size: (32., 32.),
            anchor: None,
        ),
        Boulder2: WorldObjectData(
            texture_pos: (10., 7.),
            size: (32., 32.),
            anchor: None,
        ),
        CraftingTable: WorldObjectData(
            texture_pos: (12., 7.),
            size: (32., 32.),
            anchor: None,
        ),
        CraftingTableBlock: WorldObjectData(
            texture_pos: (4., 8.),
            size: (16., 16.),
            anchor: None,
        ),
        AlchemyTable: WorldObjectData(
            texture_pos: (14., 7.),
            size: (32., 32.),
            anchor: None,
        ),
        AlchemyTableBlock: WorldObjectData(
            texture_pos: (5., 8.),
            size: (16., 16.),
            anchor: None,
        ),
        LargeStump: WorldObjectData(
            texture_pos: (12., 9.),
            size: (32., 32.),
            anchor: None,
        ),
        Bed: WorldObjectData(
            texture_pos: (14., 9.),
            size: (16., 32.),
            anchor: None,
        ),
        LargeMushroomStump: WorldObjectData(
            texture_pos: (10., 9.),
            size: (32., 32.),
            anchor: None,
        ),
        MetalBoulder: WorldObjectData(
            texture_pos: (8., 9.),
            size: (32., 32.),
            anchor: None,
        ),
        YellowFlower: WorldObjectData(
            texture_pos: (8., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        PinkFlower: WorldObjectData(
            texture_pos: (9., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        RedFlower: WorldObjectData(
            texture_pos: (10., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        YellowFlowerBlock: WorldObjectData(
            texture_pos: (8., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        PinkFlowerBlock: WorldObjectData(
            texture_pos: (9., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        RedFlowerBlock: WorldObjectData(
            texture_pos: (10., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        Stump: WorldObjectData(
            texture_pos: (6., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        Stump2: WorldObjectData(
            texture_pos: (6., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        Cattail: WorldObjectData(
            texture_pos: (11., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        Lillypad: WorldObjectData(
            texture_pos: (12., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        WaterBoulder: WorldObjectData(
            texture_pos: (13., 12.),
            size: (16., 16.),
            anchor: None,
        ),
        WaterBoulder2: WorldObjectData(
            texture_pos: (14., 11.),
            size: (16., 24.),
            anchor: None,
        ),
        FireExplosionAOE: WorldObjectData(
            texture_pos: (6., 9.),
            size: (32., 32.),
            anchor: None,
        ),
        Stick: WorldObjectData(
            texture_pos: (10., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        WoodPlank: WorldObjectData(
            texture_pos: (9., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        PlantFibre: WorldObjectData(
            texture_pos: (11., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        SlimeGoo: WorldObjectData(
            texture_pos: (12., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        SlimeGooProjectile: WorldObjectData(
            texture_pos: (12., 5.),
            size: (16., 16.),
            anchor: None,
        ),
        Leather: WorldObjectData(
            texture_pos: (15., 5.),
            size: (16., 16.),
            anchor: None,
        ),
        Tusk: WorldObjectData(
            texture_pos: (15., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        MagicTusk: WorldObjectData(
            texture_pos: (13., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        MagicGem: WorldObjectData(
            texture_pos: (12., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        BedBlock: WorldObjectData(
            texture_pos: (11., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        Essence: WorldObjectData(
            texture_pos: (9., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        TimeFragment: WorldObjectData(
            texture_pos: (15., 3.),
            size: (16., 16.),
            anchor: None,
        ),
        MiracleSeed: WorldObjectData(
            texture_pos: (8., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        Key: WorldObjectData(
            texture_pos: (10., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        RedStew: WorldObjectData(
            texture_pos: (14., 6.),
            size: (16., 16.),
            anchor: None,
        ),
        RawMeat: WorldObjectData(
            texture_pos: (13., 5.),
            size: (16., 16.),
            anchor: None,
        ),
        CookedMeat: WorldObjectData(
            texture_pos: (14., 5.),
            size: (16., 16.),
            anchor: None,
        ),
        PebbleBlock: WorldObjectData(
            texture_pos: (12., 3.),
            size: (16., 16.),
            anchor: None,
        ),
        Pebble: WorldObjectData(
            texture_pos: (10., 2.),
            size: (16., 16.),
            anchor: None,
        ),
        Coal: WorldObjectData(
            texture_pos: (11., 3.),
            size: (16., 16.),
            anchor: None,
        ),
        WoodWallBlock: WorldObjectData(
            texture_pos: (11., 2.),
            size: (16., 16.),
            anchor: None,
        ),
        StoneChunk: WorldObjectData(
            texture_pos: (10., 3.),
            size: (16., 16.),
            anchor: None,
        ),
        Feather: WorldObjectData(
            texture_pos: (9., 3.),
            size: (16., 16.),
            anchor: None,
        ),
        MetalShard: WorldObjectData(
            texture_pos: (13., 3.),
            size: (16., 16.),
            anchor: None,
        ),
        InventoryBag: WorldObjectData(
            texture_pos: (3., 1.),
            size: (16., 16.),
            anchor: None,
        ),
        Dodge: WorldObjectData(
            texture_pos: (5., 0.),
            size: (16., 16.),
            anchor: None,
        ),
        TooltipInspect: WorldObjectData(
            texture_pos: (6., 0.),
            size: (16., 16.),
            anchor: None,
        ),
        MetalBar: WorldObjectData(
            texture_pos: (14., 3.),
            size: (16., 16.),
            anchor: None,
        ),
        Bandage: WorldObjectData(
            texture_pos: (13., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        String: WorldObjectData(
            texture_pos: (14., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        Apple: WorldObjectData(
            texture_pos: (15., 4.),
            size: (16., 16.),
            anchor: None,
        ),
        Crate: WorldObjectData(
            texture_pos: (1., 10.),
            size: (16., 22.),
            anchor: None,
        ),
        Crate2: WorldObjectData(
            texture_pos: (0., 10.),
            size: (16., 20.),
            anchor: None,
        ),
        CrateBlock: WorldObjectData(
            texture_pos: (1., 9.),
            size: (16., 16.),
            anchor: None,
        ),
        RedSapplingBlock: WorldObjectData(
            texture_pos: (1., 15.),
            size: (16., 16.),
            anchor: None,
        ),
        GreenSapplingBlock: WorldObjectData(
            texture_pos: (0., 14.),
            size: (16., 16.),
            anchor: None,
        ),
        YellowSapplingBlock: WorldObjectData(
            texture_pos: (0., 15.),
            size: (16., 16.),
            anchor: None,
        ),

        // Era 2
        Era2Grass: WorldObjectData(
            texture_pos: (0., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2Grass2: WorldObjectData(
            texture_pos: (2., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2Grass3: WorldObjectData(
            texture_pos: (3., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2DeadBranch: WorldObjectData(
            texture_pos: (1., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2BerryBush: WorldObjectData(
            texture_pos: (4., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2Stump: WorldObjectData(
            texture_pos: (5., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2Stump2: WorldObjectData(
            texture_pos: (6., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2BrownMushroom: WorldObjectData(
            texture_pos: (11., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2RedMushroom: WorldObjectData(
            texture_pos: (11., 14.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2BrownMushroomBlock: WorldObjectData(
            texture_pos: (11., 13.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2RedMushroomBlock: WorldObjectData(
            texture_pos: (11., 14.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2RedFlowerBlock: WorldObjectData(
            texture_pos: (11., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2RedFlower: WorldObjectData(
            texture_pos: (11., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2WhiteFlowerBlock: WorldObjectData(
            texture_pos: (12., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2WhiteFlower: WorldObjectData(
            texture_pos: (12., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2Pebble: WorldObjectData(
            texture_pos: (13., 11.),
            size: (16., 16.),
            anchor: None,
        ),
        Era2Boulder: WorldObjectData(
            texture_pos: (0., 16.),
            size: (32., 32.),
            anchor: None,
        ),
        Era2CoalBoulder: WorldObjectData(
            texture_pos: (2., 16.),
            size: (32., 32.),
            anchor: None,
        ),
        Era2MagicBoulder: WorldObjectData(
            texture_pos: (4., 16.),
            size: (32., 32.),
            anchor: None,
        ),
        Era2Boulder2: WorldObjectData(
            texture_pos: (6., 16.),
            size: (32., 32.),
            anchor: None,
        ),
        

    },
    icons : {
        StoneWallBlock: SpriteData(
            texture_pos: (1., 6.),
            size: (16., 16.),
        ),
        Sword: SpriteData(
            texture_pos: (3., 5.),
            size: (16., 16.),
        ),
        Dagger: SpriteData(
            texture_pos: (4., 5.),
            size: (16., 16.),
        ),
        IceStaff: SpriteData(
            texture_pos: (5., 5.),
            size: (16., 16.),
        ),
        BasicStaff: SpriteData(
            texture_pos: (6., 5.),
            size: (16., 16.),
        ),
        DualStaff: SpriteData(
            texture_pos: (7., 5.),
            size: (16., 16.),
        ),
        WoodAxe: SpriteData(
            texture_pos: (8., 4.),
            size: (16., 16.),
        ),
        WoodPickaxe: SpriteData(
            texture_pos: (7., 3.),
            size: (16., 16.),
        ),
        WoodSword: SpriteData(
            texture_pos: (3., 7.),
            size: (16., 16.),
        ),
        MagicWhip: SpriteData(
            texture_pos: (10., 5.),
            size: (16., 16.),
        ),
        Claw: SpriteData(
            texture_pos: (4., 7.),
            size: (16., 16.),
        ),
        RedSapplingBlock: SpriteData(
            texture_pos: (1., 15.),
            size: (16., 16.),
        ),
        GreenSapplingBlock: SpriteData(
            texture_pos: (0., 14.),
            size: (16., 16.),
        ),
        YellowSapplingBlock: SpriteData(
            texture_pos: (0., 15.),
            size: (16., 16.),
        ),
    }
)