(
    map : {
        None: WorldObjectData(
            texture_pos: (32., 0.),
            size: (16., 16.),
            anchor: None,
            collider: false,
            breakable: false,
            breaks_into: None,
            equip_slot: None,
            breaks_with: None,
            places_into: None
        ),
        Placeable(Flint): WorldObjectData(
            texture_pos: (48., 16.),
            size: (16., 16.),
            anchor: None,
            collider: false,
            breakable: false,
            breaks_into: None,
            equip_slot: None,
            breaks_with: None,
            places_into: Some(StoneFull)
        ),
        Placeable(Log): WorldObjectData(
            texture_pos: (32., 48.),
            size: (16., 16.),
            anchor: None,
            collider: false,
            breakable: false,
            breaks_into: None,
            equip_slot: None,
            breaks_with: None,
            places_into: Some(Foliage(Tree))
        ),
         StoneHalf: WorldObjectData(
            texture_pos: (0., 128.),
            size: (32., 48.),
            anchor: Some((0., 0.166666666667)),
            collider: true,
            breakable: true,
            breaks_into: Some(Placeable(Flint)),
            equip_slot: None,
            breaks_with: None,
            places_into: None
        ),
         StoneFull: WorldObjectData(
            texture_pos: (32., 112.),
            size: (32., 64.),
            anchor: Some((0., 0.25)),
            collider: true,
            breakable: true,
            breaks_into: Some(Placeable(Flint)),
            equip_slot: None,
            breaks_with: None,
            places_into: None
        ),
         StoneTop: WorldObjectData(
            texture_pos: (64., 112.),
            size: (32., 32.),
            anchor: None,
            collider: true,
            breakable: true,
            breaks_into: None,
            equip_slot: None,
            breaks_with: None,
            places_into: None
        ),
        DungeonStone: WorldObjectData(
            texture_pos: (64., 144.),
            size: (32., 32.),
            anchor: None,
            collider: true,
            breakable: false,
            breaks_into: None,
            equip_slot: None,
            breaks_with: None,
            places_into: None
        ),
        Foliage(Tree): WorldObjectData(
            texture_pos: (96., 112.),
            size: (32., 40.),
            anchor: None,
            collider: true,
            breakable: true,
            breaks_into: Some(Placeable(Log)),
            equip_slot: None,
            breaks_with: Some(Sword),
            places_into: None
        ),
        Sword: WorldObjectData(
            texture_pos: (64., 64.),
            size: (16., 16.),
            anchor: Some((0.25, 0.25)),
            collider: true,
            breakable: true,
            breaks_into: None,
            equip_slot: Some(Hands),
            breaks_with: None,
            places_into: None
        ),
    }
)