(
    map : {
        None: MyRect(
            pos: (32., 0.),
            size: (16., 16.),
            anchor: None,
        ),
         StoneHalf: MyRect(
            pos: (0., 128.),
            size: (32., 48.),
            anchor: Some((16., 32.)),
        ),
         StoneFull: MyRect(
            pos: (32., 112.),
            size: (32., 64.),
            anchor: Some((16., 48.)),
        ),
         StoneTop: MyRect(
            pos: (64., 112.),
            size: (32., 32.),
            anchor: None,
        ),
        Tree: MyRect(
            pos: (96., 112.),
            size: (32., 40.),
            anchor: None,
        ),
    }
)