(
  name: "Anvil",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Anvil,
  "survival_rogue_like::item::object_actions::ObjectAction": Crafting(Anvil),
  "survival_rogue_like::proto::ColliderProto": (x: 4., y: 6),
  "survival_rogue_like::attributes::MaxHealth": (25),
  "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: AnvilBlock,
                min: 1,
                max: 1,
                rate: 1.
            ),]
        ),
  }
)