(
  name: "AnvilBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": AnvilBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(Anvil)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: AnvilBlock,
        metadata: (
            name: "Anvil", 
            desc: ["Allows you to craft", "weapons and armor."],
        ),
        count: 1
  ),
  }
)