(
  name: "Apple",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Apple,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [Eat(25), ModifyHealth(5)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Apple,
        metadata: (
            name: "Apple", 
            desc: ["Crunchy!","Tasty!", "Eat it!"],
        ),
        count: 1
  ),
  }
)