(
  name: "Arrow",
  templates: ["projectile.prototype.ron"],
  schematics: {
        "survival_rogue_like::item::WorldObject": Arrow,
        "survival_rogue_like::proto::ColliderProto": (x: 8., y: 8.),
        "survival_rogue_like::item::projectile::Projectile": Arrow,
        "survival_rogue_like::item::projectile::ProjectileState": (speed: 175., direction: (x: 0., y: 0.), hit_entities: [], spawn_offset: (x: -4., y: -4.), despawn_on_hit: true),
        "survival_rogue_like::item::item_actions::ConsumableItem": (),
        "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.1),
        "survival_rogue_like::animations::AnimationPosTracker": (0.0, 0.0, 0.3),
        "survival_rogue_like::inventory::ItemStack": (
          obj_type: Arrow,
          metadata: (
              name: "Arrow", 
              desc: ["An arrow. Used with", "a Bow."]
          ),
          count: 1
        ),

  }
)