(
  name: "AttackSpeedPotion",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": AttackSpeedPotion,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ ApplyAttackSpeedBuff(7.0, 1.3)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: AttackSpeedPotion,
        metadata: (
            name: "Attack Spd Potion", 
            desc: ["Gain 30% attack", "Speed or 5", "seconds."]
        ),
        rarity: Uncommon,
        count: 1
  ),
  }
)
