(
  name: "AttackSpeedPotion",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": AttackSpeedPotion,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ ApplyAttackSpeedBuff(3.0, 1.3)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: AttackSpeedPotion,
        metadata: (
            name: "Attack Speed Potion", 
            desc: ["Increases attack speed", "by 30% for 3 seconds."]
        ),
        rarity: Uncommon,
        count: 1
  ),
  }
)
