(
  name: "Bandage",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Bandage,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ModifyHealth(35), Eat(-20)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Bandage,
        metadata: (
            name: "Bandage", 
            desc: ["A nice way to heal", "some damage. Its", "quite exhausting", "to apply..."]
        ),
        count: 1
  ),
  }
)