(
  name: "Berries",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Berries,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [Eat(5), ModifyHealth(5)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Berries,
        metadata: (
            name: "Berries", 
            desc: "Crunchy!"
        ),
        count: 1
  ),
  }
)