
(
  name: "Blueberries",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Blueberries,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ModifyMana(25)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Blueberries,
        metadata: (
            name: "Blueberries", 
            desc: ["Crunchy and juicy", "Blueberries. So", "refreshing!"]
        ),
        count: 1
  ),
  }
)