(
  name: "Boulder2",
  templates: [],
  schematics: {
  "survival_rogue_like::item::WorldObject": Boulder2,
  "survival_rogue_like::assets::SpriteSize": Medium,
  "survival_rogue_like::item::RequiredEquipmentType": (Pickaxe),
  "survival_rogue_like::assets::SpriteAnchor": ((x: 8., y: 8.)),
  "survival_rogue_like::proto::ColliderProto": (x: 9., y: 9),
  "survival_rogue_like::attributes::MaxHealth": (50),
  "survival_rogue_like::world::WorldObjectEntityData": (object: Boulder2, obj_bit_index: 0, texture_offset: 0),
  "survival_rogue_like::world::y_sort::YSort": (0.),
  "bevy_proto::custom::VisibilityBundle": (),
  "bevy_proto::custom::SpriteSheetBundle": (texture_atlas: AssetPath("bevy_survival_sprites.png")),
  "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
            item: PebbleBlock,
                min: 1,
                max: 4,
                rate: 1.
            ),(
                item: StoneChunk,
                min: 1,
                max: 1,
                rate: 0.25
            ),
            (
                item: Flint,
                min: 1,
                max: 3,
                rate: 0.8
            )]
        ),
  }
)