(
  name: "BridgeBlock",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": BridgeBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(Bridge)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: BridgeBlock,
        metadata: (
            name: "Bridge", 
            desc: ["walk on water!"]
        ),
        count: 1
  ),
  }
)