(
  name: "BrownMushroomBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": BrownMushroomBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [Eat(15)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: BrownMushroomBlock,
        metadata: (
            name: "Brown Mushroom", 
            desc: ["Mmm! A nice source", "of food. Must be", "better cooked", "though!"]
        ),
        count: 1
  ),
  }
)