(
  name: "Bush2",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Bush2,
  "survival_rogue_like::assets::SpriteSize": Medium,
  "survival_rogue_like::proto::ColliderProto": (x: 9., y: 9),
  "survival_rogue_like::assets::SpriteAnchor": ((x: 8., y: 8.)),
  "survival_rogue_like::attributes::MaxHealth": (30),
  "survival_rogue_like::player::levels::ExperienceReward": (10),
  "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
            item: Stick,
                min: 1,
                max: 4,
                rate: 1.
            ),
            (
                item: PlantFibre,
                min: 1,
                max: 2,
                rate: 0.25
            ),
            (
                item: WoodPlank,
                min: 1,
                max: 1,
                rate: 0.1
            )]
        ),
  }
)