(
  name: "Bushling",
  templates: ["mob_basic"],
  schematics: {
    "survival_rogue_like::enemy::Mob": Bushling,
    "survival_rogue_like::enemy::CombatAlignment": Neutral,
    "survival_rogue_like::animations::enemy_sprites::EnemyAnimationState": Walk,
    "survival_rogue_like::enemy::LeapAttack": (activation_distance: 100., duration: 0.3, cooldown: 2., speed: 2.),
    "survival_rogue_like::proto::ColliderCapsulProto": (x: -1., y: -1.5, r: 7.5),
    "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/bushling/bushling_down.png", size: (x: 38., y: 38.), cols: 9, rows: 5),
    "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.1),
    "survival_rogue_like::animations::enemy_sprites::CharacterAnimationSpriteSheetData": (animation_frames: [4,4,4,9,6], anim_offset: 0),
    "survival_rogue_like::attributes::MaxHealth": (55),
    "survival_rogue_like::attributes::Attack": (6),
    "survival_rogue_like::player::levels::ExperienceReward": (25),
    "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: SmallPotion,
                min: 1,
                max: 1,
                rate: 0.065
            ),
            (
                item: LargePotion,
                min: 1,
                max: 1,
                rate: 0.035
            ),
            (
                item: BushlingScale,
                min: 1,
                max: 2,
                rate: 0.65
            ),
            (
                item: Arrow,
                min: 1,
                max: 3,
                rate: 0.25
            ),
            (
                item: ThrowingStar,
                min: 1,
                max: 3,
                rate: 0.25
            ),
            (
                item: Sword,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: Dagger,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: BasicStaff,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: FireStaff,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: MagicWhip,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: WoodBow,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: Claw,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: Ring,
                min: 1,
                max: 1,
                rate: 0.0095
            ),
            (
                item: Pendant,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: Chestplate,
                min: 1,
                max: 1,
                rate: 0.009
            ),
            (
                item: Pants,
                min: 1,
                max: 1,
                rate: 0.009
            ),
            ]
        ),
  }
)