(
  name: "Bushling",
  templates: ["mob_basic"],
  schematics: {
    "survival_rogue_like::enemy::Mob": Bushling,
    "survival_rogue_like::enemy::CombatAlignment": Neutral,
    "survival_rogue_like::enemy::FollowSpeed": (0.40),
    "survival_rogue_like::animations::enemy_sprites::EnemyAnimationState": Walk,
    "survival_rogue_like::enemy::LeapAttack": (activation_distance: 64., startup: 1.0, duration: 0.3, cooldown: 1.0, speed: 75.),
    "survival_rogue_like::proto::ColliderCapsulProto": (x1: 0., y1: -1., x2: 0., y2: -1.5, r: 8.),
    "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/bushling/bushling_down.png", size: (x: 38., y: 38.), cols: 9, rows: 5),
    "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.1),
    "survival_rogue_like::animations::enemy_sprites::CharacterAnimationSpriteSheetData": (animation_frames: [4,4,4,9,6], anim_offset: 0),
    "survival_rogue_like::attributes::MaxHealth": (85),
    "survival_rogue_like::attributes::Attack": (15),
    "survival_rogue_like::player::levels::ExperienceReward": (25),
    "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: SmallPotion,
                min: 1,
                max: 1,
                rate: 0.1
            ),
            (
                item: LargePotion,
                min: 1,
                max: 1,
                rate: 0.05
            ),
            (
                item: BushlingScale,
                min: 1,
                max: 2,
                rate: 0.65
            ),
            (
                item: Arrow,
                min: 1,
                max: 3,
                rate: 0.1
            ),
            (
                item: ThrowingStar,
                min: 1,
                max: 3,
                rate: 0.1
            ),
            (
                item: Sword,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: Dagger,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: BasicStaff,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: FireStaff,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: MagicWhip,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: WoodBow,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: Claw,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: Ring,
                min: 1,
                max: 1,
                rate: 0.0065
            ),
            (
                item: Pendant,
                min: 1,
                max: 1,
                rate: 0.005
            ),
            (
                item: Chestplate,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: MetalPants,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: MetalShoes,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: LeatherTunic,
                min: 1,
                max: 1,
                rate: 0.0075
            ),
            (
                item: LeatherPants,
                min: 1,
                max: 1,
                rate: 0.0075
            ),
            (
                item: LeatherShoes,
                min: 1,
                max: 1,
                rate: 0.0075
            ),
            (
                item: ForestShirt,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: ForestPants,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: ForestShoes,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: UpgradeTome,
                min: 1,
                max: 1,
                rate: 0.07
            ),
            (
                item: OrbOfTransformation,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: Essence,
                min: 1,
                max: 1,
                rate: 0.12
            ),
            ]
        ),
  }
)