(
  name: "CauldronBlock",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": CauldronBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(Cauldron)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: CauldronBlock,
        metadata: (
            name: "Cauldron ", 
            desc: ["Allows you to", "cook better food."]
        ),
        count: 1
  ),
  }
)