(
  name: "ChaosTotemDone",
  templates: [],
  schematics: {
  "survival_rogue_like::item::WorldObject": ChaosTotemDone,
  "survival_rogue_like::assets::SpriteSize": Small,
  "survival_rogue_like::assets::SpriteAnchor": ((x: 0., y: 12.)),
  "survival_rogue_like::world::y_sort::YSort": (0.),
  "survival_rogue_like::proto::ColliderCapsulProto": (x1: -8., y1: -8., x2: 8., y2: -8., r: 5.),
  }
)
