(
  name: "Chestplate",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Chestplate,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 2, end: 12)),
        defence: Some((start: 2, end: 12)),
        speed: Some((start: -12, end: -8)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 2, end: 5)),
        crit_chance: Some((start: 4, end: 5)),
        healing: Some((start: 4, end: 15)),
        bonus_damage: Some((start: 1, end: 3)),
      //   speed: Some((start: 4, end: 10)),
        health_regen: Some((start: -2, end: 1)),
        thorns: Some((start: 4, end: 10)),
        dodge: Some((start: 1, end: 3)),
        xp_rate: Some((start: 4, end: 10)),
        loot_rate: Some((start: 4, end: 15)),
  ),
  "survival_rogue_like::item::EquipmentType": Chest,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Chestplate,
        metadata: (
            name: "Chestplate", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  }
)