(
  name: "ChestBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": ChestBlock,
  "survival_rogue_like::item::object_actions::TouchTriggerObjectAction": ItemChest,
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: ChestBlock,
        metadata: (
            name: "Chest",
            desc: ["Right-click to open.", "Contains random loot."]
        ),
        count: 1
  ),
  }
)