(
  name: "CookedMeat",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": CookedMeat,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [Eat(45)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: CookedMeat,
        metadata: (
            name: "Cooked Meat", 
            desc: ["Crunchy!"]
        ),
        count: 1
  ),
  }
)