(
  name: "CraftingTableBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": CraftingTableBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(CraftingTable)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: CraftingTableBlock,
        metadata: (
            name: "Crafting Table", 
            desc: ["Allows you to", "craft more", "advanced items."]
        ),
        count: 1
  ),
  }
)