(
  name: "CraftingTable",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": CraftingTable,
  "survival_rogue_like::assets::SpriteSize": Medium,
  "survival_rogue_like::assets::SpriteAnchor": ((x: 8., y: 8.)),
  "survival_rogue_like::item::object_actions::ObjectAction": Crafting(CraftingTable),
  "survival_rogue_like::proto::ColliderProto": (x: 10., y: 4),
  "survival_rogue_like::attributes::MaxHealth": (25),
  "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: CraftingTableBlock,
                min: 1,
                max: 1,
                rate: 1.
            ),]
        ),
  }
)