(
  name: "Crate2",
  templates: ["world_object.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Crate2,
  "survival_rogue_like::attributes::MaxHealth": (1),
  "survival_rogue_like::proto::ColliderProto": (x: 6., y: 6.),
  "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: Apple,
                min: 1,
                max: 1,
                rate: 0.1
            ),
            // (
            //     item: GreenSaplingBlock,
            //     min: 1,
            //     max: 1,
            //     rate: 0.2
            // ),
            // (
            //     item: YellowSaplingBlock,
            //     min: 1,
            //     max: 1,
            //     rate: 0.1
            // ),
            // (
            //     item: RedSaplingBlock,
            //     min: 1,
            //     max: 1,
            //     rate: 0.1
            // ),
            (
                item: ChestBlock,
                min: 1,
                max: 1,
                rate: 0.0004
            ),
            (
                item: HeirloomChest,
                min: 1,
                max: 1,
                rate: 0.0004
            ),
            // (
            //     item: WoodSword,
            //     min: 1,
            //     max: 1,
            //     rate: 0.05
            // ),
            (
                item: SmallPotion,
                min: 1,
                max: 1,
                rate: 0.015
            ),
            (
                item: LargePotion,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            
            (
                item: Stick,
                min: 1,
                max: 1,
                rate: 0.25
            ),
            (
                item: StoneChunk,
                min: 1,
                max: 1,
                rate: 0.25
            ), 
            (
                item: AttackSpeedPotion,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            (
                item: MovementSpeedPotion,
                min: 1,
                max: 1,
                rate: 0.006
            ),
            // (
            //     item: Feather,
            //     min: 1,
            //     max: 1,
            //     rate: 0.07
            // ),
            (
                item: RedMushroomBlock,
                min: 1,
                max: 1,
                rate: 0.2
            ),
            (
                item: BrownMushroomBlock,
                min: 1,
                max: 1,
                rate: 0.2
            ),
            // (
            //     item: Flint,
            //     min: 1,
            //     max: 1,
            //     rate: 0.15
            // ),
            // (
            //     item: Coal,
            //     min: 1,
            //     max: 1,
            //     rate: 0.10
            // ),
            // (
            //     item: MetalShard,
            //     min: 1,
            //     max: 1,
            //     rate: 0.08
            // ),
            // (
            //     item: Arrow,
            //     min: 4,
            //     max: 16,
            //     rate: 0.35
            // ),
            // (
            //     item: ThrowingStar,
            //     min: 4,
            //     max: 16,
            //     rate: 0.35
            // ),
            (
                item: TimeFragment,
                min: 1,
                max: 1,
                rate: 0.02
            ),
            (
                item: Coin,
                min: 1,
                max: 1,
                rate: 0.35
            ),
            (
                item: Coin,
                min: 1,
                max: 1,
                rate: 0.35
            ),
            (
                item: Coin,
                min: 1,
                max: 1,
                rate: 0.35
            ),
            (
                item: Coin,
                min: 1,
                max: 1,
                rate: 0.35
            ),
            (
                item: XPShard,
                min: 1,
                max: 1,
                rate: 1.
            ),
            (
                item: XPShard,
                min: 1,
                max: 1,
                rate: 1.
            ),
            (
                item: XPShard,
                min: 1,
                max: 1,
                rate: 0.3
            ),
            ]
        ),
  }
)