(
  name: "CrateBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": CrateBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ PlacesInto(Crate)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: CrateBlock,
        metadata: (
            name: "Crate", 
            desc: ["crate."]
        ),
        count: 1
  ),
  }
)