(
  name: "Dagger",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Dagger,
  "survival_rogue_like::item::EquipmentType": Weapon,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        attack: Some((start: 3, end: 8)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 10, end: 60)),
        crit_chance: Some((start: 10, end: 25)),
        healing: Some((start: 2, end: 8)),
        bonus_damage: Some((start: 1, end: 4)),
        speed: Some((start: 4, end: 10)),
        health_regen: Some((start: 1, end: 4)),
        thorns: Some((start: 3, end: 5)),
        dodge: Some((start: 1, end: 5)),
        loot_rate: Some((start: 3, end: 7)),
  ),
  "survival_rogue_like::item::melee::MeleeAttack": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Dagger,
        attributes: (
            max_durability: 100,
            attack_cooldown: 0.2
        ),
        metadata: (
            name: "Dagger", 
            desc: "A small dagger."
        ),
        count: 1
  ),
  }
)