(
  name: "DaggerProjectile1",
  templates: ["projectile.prototype.ron"],
  schematics: {
        "survival_rogue_like::item::projectile::Projectile": DaggerProjectile1,
        "survival_rogue_like::proto::ColliderProto": (x: 8.5, y: 12.),
        "survival_rogue_like::item::projectile::ProjectileState": (speed: 0., direction: (x: 0., y: 0.), spawn_offset: (x: -10., y: -10.), hit_entities: [], despawn_on_hit: false),
        "survival_rogue_like::animations::DoneAnimation": (),
        "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/effects/DaggerProjectile1.png", size: (x: 17., y: 24.), cols: 3, rows: 1),
        "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.06),
  }
)