(
  name: "DeadSapling",
  templates: [],
  schematics: {
  "survival_rogue_like::item::WorldObject": DeadSapling,
  "survival_rogue_like::item::Block": (),
  "survival_rogue_like::assets::SpriteSize": Small,
  "survival_rogue_like::attributes::MaxHealth": (1),
  "survival_rogue_like::world::WorldObjectEntityData": (object: DeadSapling, obj_bit_index: 0, texture_offset: 0),
  "survival_rogue_like::world::y_sort::YSort": (),
  "bevy_proto::custom::VisibilityBundle": (),
  "bevy_proto::custom::SpriteSheetBundle": (texture_atlas: AssetPath("bevy_survival_sprites.png")),
  "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: Stick,
                min: 1,
                max: 1,
                rate: 0.2
            ),]
        ),
  }
)