(
  name: "DefenceFood",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": DefenceFood,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [GainStat("defence", 7)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: DefenceFood,
        metadata: (
            name: "Defence Boost", 
            desc: ["Drink to permanently", "gain +7 defence.", "Made with ingredients", "from the Desert and", "Tundra."]
        ),
        rarity: Legendary,
        count: 1
  ),
  }
)
