(
  name: "DesertLargeCactus8",
  templates: [],
  schematics: {
  "survival_rogue_like::item::WorldObject": DesertLargeCactus8,
  "bevy_proto::custom::SpriteBundle": (
      texture: AssetPath("desertcactuslarge8.png")
   ),
  "survival_rogue_like::assets::SpriteSize": Small,
  "survival_rogue_like::assets::SpriteAnchor": ((x: 0., y: 16.)),
  "survival_rogue_like::item::RequiredEquipmentType": (Axe),
  "survival_rogue_like::proto::ColliderCapsulProto": (x1: 0., y1: -20., x2: 0., y2: -12., r: 4.),
  "survival_rogue_like::attributes::MaxHealth": (25),
  "survival_rogue_like::world::y_sort::YSort": (0.),
  "survival_rogue_like::player::levels::ExperienceReward": (5),
  "bevy_proto::custom::VisibilityBundle": (),
  "survival_rogue_like::item::loot_table::LootTable": (
        drops: [
            (item: CactusFlower, min: 1, max: 2, rate: 0.65),
            (item: CactusBerry, min: 1, max: 3, rate: 0.65),
        ]
    ),
  }
)
