(
  name: "DesertBones2",
  templates: ["world_object.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": DesertBones2,
  "survival_rogue_like::attributes::MaxHealth": (1),
  "survival_rogue_like::proto::ColliderProto": (x: 4.5, y: 4.5),
  "survival_rogue_like::item::loot_table::LootTable": (drops: []),
  }
)
