(
  name: "DualStaff",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": DualStaff,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        attack: Some((start: 2, end: 10)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 2, end: 20)),
        crit_chance: Some((start: 4, end: 10)),
        healing: Some((start: 4, end: 10)),
        bonus_damage: Some((start: 4, end: 10)),
        speed: Some((start: 4, end: 10)),
        lifesteal: Some((start: 4, end: 10)),
        xp_rate: Some((start: 4, end: 10)),
        loot_rate: Some((start: 4, end: 10)),
  ),
  "survival_rogue_like::item::melee::MeleeAttack": (),
  "survival_rogue_like::item::projectile::RangedAttack": (Rock),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: DualStaff,
        attributes: (
            max_durability: 100,
            attack_cooldown: 0.6
        ),
        metadata: (
            name: "Dual Staff", 
            desc: "A double sided staff."
        ),
        count: 1
  ),
  }
)