(
  name: "DungeonWorldGenerationParams",
  // Since this prototype only contains a resource,
  // we can mark it as not needing an entity to be spawned.
  entity: false,
  schematics: {
    "survival_rogue_like::world::WorldGeneration": (
      water_frequency: 0.0,
      stone_frequency: 1.0,
      sand_frequency: 0.0,
      dirt_frequency: 0.0,
      tree_frequency: 0.0,
      stone_wall_frequency: 1.0,
      schematic_frequencies: {
        House: 0.0,
        DungeonEntrance: 0.0,
        CombatShrine: 0.0,
      },
      object_generation_frequencies: {
        Grass: 0.0,
        DeadSapling: 0.0,
        Boulder: 0.005,
        Boulder2: 0.005,
        CoalBoulder: 0.003,
        MetalBoulder: 0.003,
        Crate: 0.0008,
        Pebble: 0.01,
        BrownMushroom: 0.005,
      },
      obj_allowed_tiles_map: {
        Boulder: [GrassTile, StoneTile],
        Boulder2: [GrassTile, StoneTile],
        Pebble: [GrassTile, StoneTile],
        MetalBoulder: [GrassTile, StoneTile],
        CoalBoulder: [GrassTile, StoneTile],
        Grass: [GrassTile, StoneTile],
        DeadSapling: [GrassTile, StoneTile],
        Chest: [GrassTile, StoneTile],
        Crate: [GrassTile, StoneTile],
        BrownMushroom: [GrassTile, StoneTile],
        StoneWall: [GrassTile, StoneTile],
        DungeonExit: [GrassTile, StoneTile]
      }
    ),
  }
)