(
  name: "Era1WorldGenerationParams",
  // Since this prototype only contains a resource,
  // we can mark it as not needing an entity to be spawned.
  entity: false,
  schematics: {
    "survival_rogue_like::world::WorldGeneration": (
      water_frequency: 0.29,
      stone_frequency: 0.0,
      sand_frequency: 0.32,
      dirt_frequency: 0.0,
      forest_params: (
        tree_spacing_radius: 48.,
        tree_density: 0.01,
        forest_radius: 6.,
        max_trees_per_forest: 18,
        tree_weights: {
          SmallGreenTree: 10.0,
          SmallYellowTree: 2.5,
          MediumYellowTree: 1.7,
          MediumGreenTree: 6.0,
          RedTree: 0.5,
        },
      ),
      stone_wall_frequency: 0.0,
      object_generation_frequencies: {
        // SmallGreenTree: 0.015,
        // SmallYellowTree: 0.015,
        // MediumYellowTree: 0.007,
        // MediumGreenTree: 0.007,
        // RedTree: 0.004,
        XPJug: 0.0003,
        Boulder: 0.0015,
        Boulder2: 0.0015,
        CoalBoulder: 0.001,
        MetalBoulder: 0.0005,
        Grass: 0.1,
        Grass2: 0.1,
        Grass3: 0.1,
        Pebble: 0.004,
        RedMushroom: 0.0065,
        BrownMushroom: 0.0065,
        BerryBush: 0.0027,
        BlueberryBush: 0.0027,
        Crate: 0.0022,
        Crate2: 0.0018,
        DeadSapling: 0.004,
        ChaosTotem: 0.0004,
        Bush: 0.0015,
        Bush2: 0.0015,
        LargeStump: 0.001,
        LargeMushroomStump: 0.001,
        YellowFlower: 0.007,
        RedFlower: 0.007,
        PinkFlower: 0.01,
        Stump: 0.004,
        Stump2: 0.004,
        Cattail: 0.03,
        Lillypad: 0.03,
        WaterBoulder: 0.02,
        WaterBoulder2: 0.02,
      },
      // Pre-rolled shrine counts (inclusive [min, max]) for the era. One shrine
      // is placed per chunk, chosen from the rolled total and distributed across
      // non-center, in-island chunks at world init.
      shrine_counts: {
        CombatShrine: (min: 2, max: 4),
        GambleShrine: (min: 1, max: 2),
        MicrowaveShrine: (min: 1, max: 2),
        HeirloomShrine: (min: 5, max: 5),
        BlacksmithMerchant: (min: 2, max: 3),
      },
      obj_allowed_tiles_map: {
        SmallGreenTree: [GrassTile],
        SmallYellowTree: [GrassTile],
        RedTree: [GrassTile],
        MediumYellowTree: [GrassTile],
        MediumGreenTree: [GrassTile],
        Boulder: [GrassTile],
        Boulder2: [GrassTile],
        CoalBoulder: [GrassTile],
        MetalBoulder: [GrassTile],
        Grass: [GrassTile],
        Grass2: [GrassTile],
        Grass3: [GrassTile],
        BerryBush: [GrassTile],
        BlueberryBush: [GrassTile],
        RedMushroom: [GrassTile],
        BrownMushroom: [GrassTile],
        Pebble: [GrassTile],
        DeadSapling: [GrassTile],
        Bush: [GrassTile],
        Bush2: [GrassTile],
        LargeStump: [GrassTile],
        LargeMushroomStump: [GrassTile],
        YellowFlower: [GrassTile],
        RedFlower: [GrassTile],
        PinkFlower: [GrassTile],
        Stump: [GrassTile],
        Stump2: [GrassTile],
        Cattail: [WaterTile],
        Lillypad: [WaterTile],
        WaterBoulder: [WaterTile],
        WaterBoulder2: [WaterTile],
        Chest: [GrassTile, ],
        StoneWall: [GrassTile,],
        Crate: [GrassTile, ],
        Crate2: [GrassTile, ],
        BossShrine: [GrassTile, ],
        TimeGate: [GrassTile, ],
        DungeonEntrance: [GrassTile, ],
        CombatShrine: [GrassTile, ],
        GambleShrine: [GrassTile, ],
        ActiveSkillShrine: [GrassTile, ],
        HeirloomShrine: [GrassTile, ],
        ChaosTotem: [GrassTile, ],
      }
    ),
  }
)