(
  name: "Era2RedMushroomBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Era2RedMushroomBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ModifyHealth(5)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Era2RedMushroomBlock,
        metadata: (
            name: "Red Mushroom", 
            desc: ["Mmmm!"]
        ),
        count: 1
  ),
  }
)