(
  name: "Era2WorldGenerationParams",
  // Since this prototype only contains a resource,
  // we can mark it as not needing an entity to be spawned.
  entity: false,
  schematics: {
    "survival_rogue_like::world::WorldGeneration": (
      water_frequency: 0.33,
      stone_frequency: 0.0,
      sand_frequency: 0.32,
      dirt_frequency: 0.0,
      forest_params: (
        tree_spacing_radius: 48.,
        tree_density: 0.,
        forest_radius: 0.,
        max_trees_per_forest: 0,
              tree_weights: {
                // Era2LargeTree: 3.0,
                // Era2MediumTree: 5.0,
                // Era2SmallTree: 10.0,
          //       SmallGreenTree: 10.0,
          // SmallYellowTree: 2.5,
          // MediumYellowTree: 1.7,
          // MediumGreenTree: 6.0,
          // RedTree: 0.5,
              },
      ),
      stone_wall_frequency: 0.0,
      object_generation_frequencies: {
        // SmallGreenTree: 0.015,
        // SmallYellowTree: 0.015,
        // MediumYellowTree: 0.007,
        // MediumGreenTree: 0.007,
        // RedTree: 0.004,
        
        Tumbleweed1: 0.00008,
        Tumbleweed2: 0.00008,
        Tumbleweed3: 0.00008,
        Tumbleweed4: 0.00008,
        DesertCrate: 0.002,
        DesertCrate2: 0.002,
        DesertSkull1: 0.001,
        DesertSkull2: 0.001,
        DesertSkull3: 0.001,
        DesertSkull4: 0.001,

        DesertBones1: 0.0002,
        DesertBones2: 0.0002,
        DesertBones3: 0.0002,

        DesertGrass1: 0.012,
        DesertGrass2: 0.012,
        DesertGrass3: 0.012,
        DesertGrass4: 0.012,

        MedCactus1: 0.001,
        MedCactus2: 0.001,
        MedCactus3: 0.001,
        MedCactus4: 0.001,
        MedCactus5: 0.001,

        SmlCactus1: 0.0015,
        SmlCactus2: 0.0015,
        SmlCactus3: 0.0015,

        FlowerCactus1: 0.0007,
        FlowerCactus2: 0.0007,
        FlowerCactus3: 0.0007,
        FlowerCactus4: 0.0007,

        MedFruitCactus1: 0.0005,
        MedFruitCactus2: 0.0005,
        SmlFruitCactus1: 0.00055,
        SmlFruitCactus2: 0.00055,
        SmlFruitCactus3: 0.00055,
        SmlFruitCactus4: 0.00055,

        DesertDriftWood1: 0.0004,
        DesertDriftWood2: 0.0004,
        DesertDriftWood3: 0.0004,
        DesertFence1: 0.0004,
        DesertFence2: 0.0004,
        DesertFence3: 0.0004,


        DesertMedBoulder1: 0.002,
        DesertMedBoulder2: 0.002,
        DesertMedBoulder3: 0.002,

        DesertSmlBoulder1: 0.0008,
        DesertSmlBoulder2: 0.0008,
        DesertSmlBoulder3: 0.0008,
        DesertSmlBoulder4: 0.0008,
        DesertSmlBoulder5: 0.0008,
        DesertSmlBoulder6: 0.0008,
        DesertMetalBoulder: 0.001,
      },
       shrine_counts: {
        CombatShrine: (min: 2, max: 4),
        GambleShrine: (min: 1, max: 2),
        MicrowaveShrine: (min: 1, max: 2),
        HeirloomShrine: (min: 5, max: 5),
        BlacksmithMerchant: (min: 1, max: 3),
      },
      obj_allowed_tiles_map: {
        SmallGreenTree: [GrassTile],
        SmallYellowTree: [GrassTile],
        RedTree: [GrassTile],
        MediumYellowTree: [GrassTile],
        MediumGreenTree: [GrassTile],
        Boulder: [GrassTile],
        Boulder2: [GrassTile],
        CoalBoulder: [GrassTile],
        MetalBoulder: [GrassTile],
        Grass: [GrassTile],
        Grass2: [GrassTile],
        Grass3: [GrassTile],
        BerryBush: [GrassTile],
        RedMushroom: [GrassTile],
        BrownMushroom: [GrassTile],
        // Pebble: [GrassTile],
        DeadSapling: [GrassTile],
        Bush: [GrassTile],
        Bush2: [GrassTile],
        LargeStump: [GrassTile],
        LargeMushroomStump: [GrassTile],
        YellowFlower: [GrassTile],
        RedFlower: [GrassTile],
        PinkFlower: [GrassTile],
        Stump: [GrassTile],
        Stump2: [GrassTile],
        Cattail: [WaterTile],
        Lillypad: [WaterTile],
        WaterBoulder: [WaterTile],
        WaterBoulder2: [WaterTile],
        Chest: [GrassTile, ],
        StoneWall: [GrassTile,],
        Crate: [GrassTile, ],
        Crate2: [GrassTile, ],
        BossShrine: [GrassTile, ],
        TimeGate: [GrassTile, ],
        DungeonEntrance: [GrassTile, ],
        CombatShrine: [GrassTile, ],
        GambleShrine: [GrassTile, ],
        ActiveSkillShrine: [GrassTile, ],
        HeirloomShrine: [GrassTile, ],
        MicrowaveShrine: [GrassTile, ],
        ChaosTotem: [GrassTile, ],
           Era2Grass: [GrassTile],
        Era2Grass2: [GrassTile],
        Era2Grass3: [GrassTile],
          Era2SmallTree: [GrassTile],
        Era2MediumTree: [GrassTile],
        Era2LargeTree: [GrassTile],
        Era2Boulder: [GrassTile],
        Era2Boulder2: [GrassTile],
        Era2CoalBoulder: [GrassTile],
        Era2MagicBoulder: [GrassTile],
       
        Era2Grass: [GrassTile],
        Era2Grass2: [GrassTile],
        Era2Grass3: [GrassTile],
        Era2BerryBush: [GrassTile],
        Era2RedMushroom: [GrassTile],
        Era2BrownMushroom: [GrassTile],
        Era2Pebble: [GrassTile],
        Era2DeadBranch: [GrassTile],
        Era2Stump: [GrassTile],
        Era2Stump2: [GrassTile],
      }
    ),
  }
)