(
  name: "Era3WorldGenerationParams",
  // Since this prototype only contains a resource,
  // we can mark it as not needing an entity to be spawned.
  entity: false,
  schematics: {
    "survival_rogue_like::world::WorldGeneration": (
      water_frequency: 0.33,
      stone_frequency: 0.0,
      sand_frequency: 0.32,
      dirt_frequency: 0.0,
      forest_params: (
        tree_spacing_radius: 48.,
        tree_density: 0.01,
        forest_radius: 6.,
        max_trees_per_forest: 18,
              tree_weights: {
                // Era2LargeTree: 3.0,
                // Era2MediumTree: 5.0,
                // Era2SmallTree: 10.0,
                SmallGreenTree: 10.0,
          SmallYellowTree: 2.5,
          MediumYellowTree: 1.7,
          MediumGreenTree: 6.0,
          RedTree: 0.5,
              },
      ),
      stone_wall_frequency: 0.0,
      // object_generation_frequencies: {
      //   Era2Boulder: 0.003,
      //   Era2Boulder2: 0.003,
      //   Era2CoalBoulder: 0.002,
      //   Era2MagicBoulder: 0.002,
      //   Era2Grass: 0.13,
      //   Era2Grass2: 0.13,
      //   Era2Grass3: 0.13,
      //   Era2Pebble: 0.009,
      //   Era2RedMushroom: 0.006,
      //   Era2BrownMushroom: 0.006,
      //   Era2BerryBush: 0.004,
      //   Crate: 0.0007,
      //   Crate2: 0.0007,
      //   Era2DeadBranch: 0.017,
      //   ChaosTotem: 0.0008,

      //   // Bush: 0.003,
      //   // Bush2: 0.003,
      //   // LargeStump: 0.002,
      //   // LargeMushroomStump: 0.001,
      //   Era2RedFlower: 0.006,
      //   Era2WhiteFlower: 0.01,
      //   Era2Stump: 0.007,
      //   Era2Stump2: 0.007,
      //   // Cattail: 0.03,
      //   // Lillypad: 0.03,
      //   // WaterBoulder: 0.02,
      //   // WaterBoulder2: 0.02,
      // },
      // schematic_frequencies: {
      //   CombatShrine: 0.15,
      //   GambleShrine: 0.15,
      //   // ActiveSkillShrine: 0.1,
      //   HeirloomShrine: 0.13,
      //   BlacksmithMerchant: 0.15,
      // },
      // obj_allowed_tiles_map: {
      //   Era2SmallTree: [GrassTile],
      //   Era2MediumTree: [GrassTile],
      //   Era2LargeTree: [GrassTile],
      //   Era2Boulder: [GrassTile],
      //   Era2Boulder2: [GrassTile],
      //   Era2CoalBoulder: [GrassTile],
      //   Era2MagicBoulder: [GrassTile],
       
      //   Era2Grass: [GrassTile],
      //   Era2Grass2: [GrassTile],
      //   Era2Grass3: [GrassTile],
      //   Era2BerryBush: [GrassTile],
      //   Era2RedMushroom: [GrassTile],
      //   Era2BrownMushroom: [GrassTile],
      //   Era2Pebble: [GrassTile],
      //   Era2DeadBranch: [GrassTile],
      //   Bush: [GrassTile],
      //   Bush2: [GrassTile],
      //   LargeStump: [GrassTile],
      //   LargeMushroomStump: [GrassTile],
      //   Era2WhiteFlower: [GrassTile],
      //   Era2RedFlower: [GrassTile],
      //   Era2Stump: [GrassTile],
      //   Era2Stump2: [GrassTile],
      //   Cattail: [WaterTile],
      //   Lillypad: [WaterTile],
      //   WaterBoulder: [WaterTile],
      //   WaterBoulder2: [WaterTile],
      //   Chest: [GrassTile, ],
      //   StoneWall: [GrassTile,],
      //   Crate: [GrassTile, ],
      //   Crate2: [GrassTile, ],
      //   BossShrine: [GrassTile, ],
      //   DungeonEntrance: [GrassTile, ],
      //   CombatShrine: [GrassTile, ],
      //   GambleShrine: [GrassTile, ],
      //   ActiveSkillShrine: [GrassTile, ],
      //   HeirloomShrine: [GrassTile, ],
      //   ChaosTotem: [GrassTile, ],
      // }
      object_generation_frequencies: {
        // SmallGreenTree: 0.015,
        // SmallYellowTree: 0.015,
        // MediumYellowTree: 0.007,
        // MediumGreenTree: 0.007,
        // RedTree: 0.004,
        

        Era2Boulder: 0.0015,
        Era2Boulder2: 0.0015,
        Era2CoalBoulder: 0.001,
        Era2MagicBoulder: 0.001,

        Era2Grass: 0.1,
        Era2Grass2: 0.1,
        Era2Grass3: 0.1,

        Era2Pebble: 0.004,
        Era2RedMushroom: 0.0065,
        Era2BrownMushroom: 0.0065,
             Era2Stump: 0.004,
        Era2Stump2: 0.004,
          Era2DeadBranch: 0.004,
        // Boulder: 0.0015,
        // Boulder2: 0.0015,
        // CoalBoulder: 0.001,
        // MetalBoulder: 0.001,
        // Grass: 0.1,
        // Grass2: 0.1,
        // Grass3: 0.1,
        // Pebble: 0.004,
        // RedMushroom: 0.0065,
        // BrownMushroom: 0.0065,
     
        BerryBush: 0.0035,
        Crate: 0.0022,
        Crate2: 0.0018,
        // DeadSapling: 0.004,
        ChaosTotem: 0.0004,
        Bush: 0.0015,
        Bush2: 0.0015,
        LargeStump: 0.001,
        LargeMushroomStump: 0.001,
        YellowFlower: 0.007,
        RedFlower: 0.007,
        PinkFlower: 0.01,
        // Stump: 0.004,
        // Stump2: 0.004,
        // Cattail: 0.03,
        // Lillypad: 0.03,
        // WaterBoulder: 0.02,
        // WaterBoulder2: 0.02,
      },
      schematic_frequencies: {
      CombatShrine: 0.05,
        GambleShrine: 0.025,
        // ActiveSkillShrine: 0.1,
        HeirloomShrine: 0.15,
        BlacksmithMerchant: 0.07,
      },
      obj_allowed_tiles_map: {
        SmallGreenTree: [GrassTile],
        SmallYellowTree: [GrassTile],
        RedTree: [GrassTile],
        MediumYellowTree: [GrassTile],
        MediumGreenTree: [GrassTile],
        Boulder: [GrassTile],
        Boulder2: [GrassTile],
        CoalBoulder: [GrassTile],
        MetalBoulder: [GrassTile],
        Grass: [GrassTile],
        Grass2: [GrassTile],
        Grass3: [GrassTile],
        BerryBush: [GrassTile],
        RedMushroom: [GrassTile],
        BrownMushroom: [GrassTile],
        // Pebble: [GrassTile],
        DeadSapling: [GrassTile],
        Bush: [GrassTile],
        Bush2: [GrassTile],
        LargeStump: [GrassTile],
        LargeMushroomStump: [GrassTile],
        YellowFlower: [GrassTile],
        RedFlower: [GrassTile],
        PinkFlower: [GrassTile],
        Stump: [GrassTile],
        Stump2: [GrassTile],
        Cattail: [WaterTile],
        Lillypad: [WaterTile],
        WaterBoulder: [WaterTile],
        WaterBoulder2: [WaterTile],
        Chest: [GrassTile, ],
        StoneWall: [GrassTile,],
        Crate: [GrassTile, ],
        Crate2: [GrassTile, ],
        BossShrine: [GrassTile, ],
        TimeGate: [GrassTile, ],
        DungeonEntrance: [GrassTile, ],
        CombatShrine: [GrassTile, ],
        GambleShrine: [GrassTile, ],
        ActiveSkillShrine: [GrassTile, ],
        HeirloomShrine: [GrassTile, ],
        ChaosTotem: [GrassTile, ],
           Era2Grass: [GrassTile],
        Era2Grass2: [GrassTile],
        Era2Grass3: [GrassTile],
          Era2SmallTree: [GrassTile],
        Era2MediumTree: [GrassTile],
        Era2LargeTree: [GrassTile],
        Era2Boulder: [GrassTile],
        Era2Boulder2: [GrassTile],
        Era2CoalBoulder: [GrassTile],
        Era2MagicBoulder: [GrassTile],
       
        Era2Grass: [GrassTile],
        Era2Grass2: [GrassTile],
        Era2Grass3: [GrassTile],
        Era2BerryBush: [GrassTile],
        Era2RedMushroom: [GrassTile],
        Era2BrownMushroom: [GrassTile],
        Era2Pebble: [GrassTile],
        Era2DeadBranch: [GrassTile],
        Era2Stump: [GrassTile],
        Era2Stump2: [GrassTile],
      }
    ),
  }
)