(
  name: "Era3WorldGenerationParams",
  // Since this prototype only contains a resource,
  // we can mark it as not needing an entity to be spawned.
  entity: false,
  schematics: {
    "survival_rogue_like::world::WorldGeneration": (
      water_frequency: 0.33,
      stone_frequency: 0.0,
      sand_frequency: 0.32,
      dirt_frequency: 0.0,
      forest_params: (
        tree_spacing_radius: 68.,
        tree_density: 0.01,
        forest_radius: 6.,
        max_trees_per_forest: 8,
        tree_weights: {
          SnowLeaflessTree1: 7.0,
          SnowLeaflessTree2: 7.0,
          SnowLeaflessTree3: 7.0,
          SnowTree1: 6.0,
          SnowTree2: 6.0,
          SnowTree3: 6.0,
          SnowTree4: 6.0,
        },
      ),
      stone_wall_frequency: 0.0,
      object_generation_frequencies: {
        IcePatch: 0.0026,
        SnowGrass1: 0.06,
        SnowGrass2: 0.06,
        // SnowGrass3: 0.01,
        SnowGrass4: 0.06,

        SnowFlower: 0.007,
        SnowFlower2: 0.007,
        DeadSapling: 0.007,

        SnowMedBoulder1: 0.002,
        SnowMedBoulder2: 0.002,
        SnowMedBoulder3: 0.002,

        SnowSmlBoulder1: 0.0008,
        SnowSmlBoulder2: 0.0008,
        SnowSmlBoulder3: 0.0008,
        SnowSmlBoulder4: 0.0008,
        SnowSmlBoulder5: 0.0008,
        SnowSmlBoulder6: 0.0008,

        SnowBush1: 0.0009,
        SnowBush2: 0.0009,
        SnowBush3: 0.0009,
        SnowBush4: 0.0009,
        SnowBushSnow1: 0.0009,
        SnowBushSnow2: 0.0009,
        SnowBushSnow3: 0.0009,
        SnowBushSnow4: 0.0009,
        SnowBushMed1: 0.0014,
        SnowBushMed2: 0.0014,
        SnowBushSnowMed1: 0.0008,
        SnowBushSnowMed2: 0.0008,

        SnowBerryBushSml1: 0.0006,
        SnowBerryBushSml2: 0.0006,
        SnowBerryBushSml3: 0.0006,
        SnowBerryBushSml4: 0.0006,
        SnowBerryBushMed1: 0.0006,
        SnowBerryBushMed2: 0.0006,

        SnowMushroom1: 0.005,
        SnowMushroom2: 0.005,

        SnowCrate1: 0.0022,
        SnowCrate2: 0.0018,
        SnowCrate3: 0.0018,
        SnowCrate4: 0.0015,

        SnowCrystalSml1: 0.0003,
        SnowCrystalSml2: 0.0003,
        SnowCrystalSml3: 0.0003,
        SnowCrystalSml4: 0.0003,
        SnowCrystalMed1: 0.0002,
        SnowCrystalMed2: 0.0002,

        ChaosTotem: 0.0004,
      },
       shrine_counts: {
        CombatShrine: (min: 2, max: 4),
        GambleShrine: (min: 1, max: 2),
        MicrowaveShrine: (min: 1, max: 2),
        HeirloomShrine: (min: 7, max: 7),
        BlacksmithMerchant: (min: 1, max: 3),
      },
      obj_allowed_tiles_map: {
        IcePatch: [GrassTile],
        SnowLeaflessTree1: [GrassTile],
        SnowLeaflessTree2: [GrassTile],
        SnowLeaflessTree3: [GrassTile],
        SnowTree1: [GrassTile],
        SnowTree2: [GrassTile],
        SnowTree3: [GrassTile],
        SnowTree4: [GrassTile],
        SnowGrass1: [GrassTile],
        SnowGrass2: [GrassTile],
        SnowGrass3: [GrassTile],
        SnowGrass4: [GrassTile],
        SnowMedBoulder1: [GrassTile],
        SnowMedBoulder2: [GrassTile],
        SnowMedBoulder3: [GrassTile],
        SnowSmlBoulder1: [GrassTile],
        SnowSmlBoulder2: [GrassTile],
        SnowSmlBoulder3: [GrassTile],
        SnowSmlBoulder4: [GrassTile],
        SnowSmlBoulder5: [GrassTile],
        SnowSmlBoulder6: [GrassTile],
        SnowBush1: [GrassTile],
        SnowBush2: [GrassTile],
        SnowBush3: [GrassTile],
        SnowBush4: [GrassTile],
        SnowBushSnow1: [GrassTile],
        SnowBushSnow2: [GrassTile],
        SnowBushSnow3: [GrassTile],
        SnowBushSnow4: [GrassTile],
        SnowBushMed1: [GrassTile],
        SnowBushMed2: [GrassTile],
        SnowBushSnowMed1: [GrassTile],
        SnowBushSnowMed2: [GrassTile],
        SnowBerryBushSml1: [GrassTile],
        SnowBerryBushSml2: [GrassTile],
        SnowBerryBushSml3: [GrassTile],
        SnowBerryBushSml4: [GrassTile],
        SnowBerryBushMed1: [GrassTile],
        SnowBerryBushMed2: [GrassTile],
        SnowMushroom1: [GrassTile],
        SnowMushroom2: [GrassTile],
        SnowCrate1: [GrassTile],
        SnowCrate2: [GrassTile],
        SnowCrate3: [GrassTile],
        SnowCrate4: [GrassTile],
        SnowCrystalSml1: [GrassTile],
        SnowCrystalSml2: [GrassTile],
        SnowCrystalSml3: [GrassTile],
        SnowCrystalSml4: [GrassTile],
        SnowCrystalMed1: [GrassTile],
        SnowCrystalMed2: [GrassTile],
        Chest: [GrassTile],
        StoneWall: [GrassTile],
        Crate: [GrassTile],
        Crate2: [GrassTile],
        BossShrine: [GrassTile],
        TimeGate: [GrassTile],
        DungeonEntrance: [GrassTile],
        CombatShrine: [GrassTile],
        GambleShrine: [GrassTile],
        ActiveSkillShrine: [GrassTile],
        HeirloomShrine: [GrassTile],
        MicrowaveShrine: [GrassTile],
        ChaosTotem: [GrassTile],
        BlacksmithMerchant: [GrassTile],
      }
    ),
  }
)