(
  name: "Essence",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Essence,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [Essence]),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Essence,
        metadata: (
            name: "Essence", 
            desc: ["Essence of the", "Forrest. Can", "be spent to", "aid you."]
        ),
        count: 1
  ),
  }
)