(
  name: "Fireball",
  templates: ["projectile.prototype.ron"],
  schematics: {
        "survival_rogue_like::item::WorldObject": Fireball,
        "survival_rogue_like::proto::ColliderProto": (x: 5., y: 5.),
        "survival_rogue_like::item::projectile::Projectile": Fireball,
        "survival_rogue_like::item::projectile::ProjectileState": (speed: 200., direction: (x: 0., y: 0.), hit_entities: [], despawn_on_hit: true),
  }
)