(
  name: "FireStaff",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": FireStaff,
  "survival_rogue_like::item::EquipmentType": Weapon,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        attack: Some((start: 6, end: 20)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 2, end: 4)),
        crit_chance: Some((start: 2, end: 6)),
        healing: Some((start: 2, end: 8)),
        bonus_damage: Some((start: 1, end: 4)),
        speed: Some((start: 4, end: 10)),
        health_regen: Some((start: 1, end: 4)),
        thorns: Some((start: 3, end: 5)),
        dodge: Some((start: 1, end: 5)),
        loot_rate: Some((start: 3, end: 7)),
  ),
  "survival_rogue_like::item::melee::MeleeAttack": (),
  "survival_rogue_like::item::item_actions::ManaCost": (15),
  "survival_rogue_like::item::projectile::RangedAttack": (Fireball),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: FireStaff,
        attributes: (
            max_durability: 100,
            attack_cooldown: 0.85
        ),
        metadata: (
            name: "Fire Staff", 
            desc: ["A fire staff."]
        ),
        count: 1
  ),
  }
)