(
  name: "Flint",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Flint,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Flint,
        metadata: (
            name: "Stone Shard", 
            desc: "A chipped piece of Stone."
        ),
        count: 1
  ),
  }
)