(
  name: "ForestShoes",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": ForestShoes,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 2, end: 6)),
        defence: Some((start: 2, end: 6)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        dodge: Some((start: 3, end: 8)),
        crit_damage: Some((start: 4, end: 10)),
        crit_chance: Some((start: 3, end: 8)),
        healing: Some((start: 2, end: 5)),
        bonus_damage: Some((start: 1, end: 2)),
        speed: Some((start: 4, end: 10)),
        health_regen: Some((start: 1, end: 2)),
        thorns: Some((start: 4, end: 15)),
        loot_rate: Some((start: 2, end: 5)),
  ),
  "survival_rogue_like::item::EquipmentType": Feet,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: ForestShoes,
        metadata: (
            name: "Forest Shoes", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: BushlingScale, chance: 1.), (obj: BushlingScale, chance: 0.5)]),
  }
)