(
  name: "ForestShirt",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": ForestShirt,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 2, end: 6)),
        defence: Some((start: 2, end: 6)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        dodge: Some((start: 4, end: 10)),
        crit_damage: Some((start: 4, end: 12)),
        crit_chance: Some((start: 4, end: 10)),
        healing: Some((start: 2, end: 5)),
        bonus_damage: Some((start: 1, end: 2)),
        speed: Some((start: 4, end: 12)),
        health_regen: Some((start: 1, end: 2)),
        thorns: Some((start: 4, end: 15)),
      //   xp_rate: Some((start: 2, end: 5)),
        loot_rate: Some((start: 4, end: 10)),
  ),
  "survival_rogue_like::item::EquipmentType": Chest,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: ForestShirt,
        metadata: (
            name: "Forest Shirt", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  }
)