(
  name: "ForestPants",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": ForestPants,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 10, end: 15)),
        defence: Some((start: 8, end: 16)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 15, end: 26)),
        crit_chance: Some((start: 9, end: 18)),
        speed: Some((start: 16, end: 26)),
        health_regen: Some((start: 4, end: 8)),
        thorns: Some((start: 16, end: 32)),
        dodge: Some((start: 16, end: 22)),
        loot_rate: Some((start: 6, end: 12)),
        xp_rate: Some((start: 7, end: 15)),
      //   mana: Some((start: 15, end: 24)),
      //   mana_regen: Some((start: 5, end: 12)),
        attack_speed: Some((start: 12, end: 20)),
        size: Some((start: 8, end: 15)),
        lifesteal: Some((start: 2, end: 5)),
        bonus_damage: Some((start: 5, end: 10)),
        pickup_range: Some((start: 15, end: 30)),
        skill_power: Some((start: 8, end: 16)),
  ),
  "survival_rogue_like::item::EquipmentType": Legs,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: ForestPants,
        metadata: (
            name: "Forest Pants", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([]),
  }
)