(
  name: "FurDevil",
  templates: ["mob_basic.prototype.ron"],
  schematics: {
    "survival_rogue_like::enemy::Mob": FurDevil,
    "survival_rogue_like::enemy::CombatAlignment": Hostile,
    "survival_rogue_like::enemy::FollowSpeed": (0.35),
    "survival_rogue_like::animations::enemy_sprites::EnemyAnimationState": Walk,
    "survival_rogue_like::enemy::LeapAttack": (activation_distance: 24., startup: 0.45, duration: 0.42, cooldown: 0.7, speed: 95.),
    "survival_rogue_like::proto::ColliderCapsulProto": (x1: 0., y1: -1., x2: 0., y2: -1.5, r: 5.5),
    "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/furdevil/furdevil_down.png", size: (x: 32., y: 32.), cols: 8, rows: 6),
    "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.06),
    "survival_rogue_like::animations::enemy_sprites::CharacterAnimationSpriteSheetData": (animation_frames: [4,6,4,8,7], anim_offset: 0),
    "survival_rogue_like::attributes::MaxHealth": (11),
    "survival_rogue_like::attributes::Attack": (8),
    "survival_rogue_like::player::levels::ExperienceReward": (15),
    "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: SmallPotion,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: LargePotion,
                min: 1,
                max: 1,
                rate: 0.001
            ),
            (
                item: ChestBlock,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: UpgradeTome,
                min: 1,
                max: 1,
                rate: 0.015
            ),
            (
                item: OrbOfTransformation,
                min: 1,
                max: 1,
                rate: 0.01
            ),
            (
                item: Key,
                min: 1,
                max: 1,
                rate: 0.0017
            ),
            (
                item: TimeFragment,
                min: 1,
                max: 1,
                rate: 0.033
            ),
            ]
        ),
  }
)
// sword, dagger, claw, WoodBow, basicstaff, IceStaff, magicwhip, ring, pendant, chestplate, pants, boots
// 9/