(
  name: "FurDevil",
  templates: ["mob_basic"],
  schematics: {
    "survival_rogue_like::enemy::Mob": FurDevil,
    "survival_rogue_like::enemy::CombatAlignment": Neutral,
    "survival_rogue_like::enemy::FollowSpeed": (0.45),
    "survival_rogue_like::animations::enemy_sprites::EnemyAnimationState": Walk,
    "survival_rogue_like::enemy::LeapAttack": (activation_distance: 24., startup: 0.45, duration: 0.42, cooldown: 0.7, speed: 95.),
    "survival_rogue_like::proto::ColliderCapsulProto": (x1: 0., y1: -1., x2: 0., y2: -1.5, r: 5.5),
    "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/furdevil/furdevil_down.png", size: (x: 32., y: 32.), cols: 8, rows: 6),
    "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.06),
    "survival_rogue_like::animations::enemy_sprites::CharacterAnimationSpriteSheetData": (animation_frames: [4,6,4,8,7], anim_offset: 0),
    "survival_rogue_like::attributes::MaxHealth": (25),
    "survival_rogue_like::attributes::Attack": (12),
    "survival_rogue_like::player::levels::ExperienceReward": (25),
    "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: SmallPotion,
                min: 1,
                max: 1,
                rate: 0.1
            ),
            (
                item: LargePotion,
                min: 1,
                max: 1,
                rate: 0.005
            ),
            (
                item: Feather,
                min: 1,
                max: 3,
                rate: 0.65
            ),
            (
                item: Arrow,
                min: 1,
                max: 3,
                rate: 0.05
            ),
            (
                item: ThrowingStar,
                min: 1,
                max: 3,
                rate: 0.05
            ),
            (
                item: Sword,
                min: 1,
                max: 1,
                rate: 0.02
            ),
            (
                item: Dagger,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: BasicStaff,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: FireStaff,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: MagicWhip,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: WoodBow,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: Claw,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: Ring,
                min: 1,
                max: 1,
                rate: 0.016
            ),
            (
                item: Pendant,
                min: 1,
                max: 1,
                rate: 0.01
            ),
            (
                item: Chestplate,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: MetalPants,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: MetalShoes,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: LeatherTunic,
                min: 1,
                max: 1,
                rate: 0.018
            ),
            (
                item: LeatherPants,
                min: 1,
                max: 1,
                rate: 0.018
            ),
            (
                item: LeatherShoes,
                min: 1,
                max: 1,
                rate: 0.018
            ),
            (
                item: ForestShirt,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: ForestPants,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: ForestShoes,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: UpgradeTome,
                min: 1,
                max: 1,
                rate: 0.05
            ),
            (
                item: OrbOfTransformation,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: TimeFragment,
                min: 1,
                max: 1,
                rate: 0.2
            ),
            ]
        ),
  }
)
// sword, dagger, claw, WoodBow, basicstaff, firestaff, magicwhip, ring, pendant, chestplate, pants, boots
// 9/