(
  name: "FurnaceBlock",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": FurnaceBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(Furnace)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: FurnaceBlock,
        metadata: (
            name: "Furnace", 
            desc: ["Allows you to", "smelt or cook raw", "food."]
        ),
        count: 1
  ),
  }
)