(
  name: "GambleShrine",
  templates: [],
  schematics: {
  "survival_rogue_like::item::WorldObject": GambleShrine,
  "survival_rogue_like::item::object_actions::ObjectAction": GambleShrine,
  "survival_rogue_like::item::object_actions::ObjectActionCost": TimeFragment(1),
  "survival_rogue_like::assets::SpriteSize": Small,
  "survival_rogue_like::assets::SpriteAnchor": ((x: 0., y: 40.)),
  "survival_rogue_like::world::y_sort::YSort": (0.05),
  "survival_rogue_like::proto::ColliderCapsulProto": (x1: -10., y1: -55., x2: 10., y2: -55., r: 7.5),
  }
)