(
  name: "GrassBlock",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": GrassBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(Grass)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: GrassBlock,
        metadata: (
            name: "Grass", 
            desc: ["grass."]
        ),
        count: 1
  ),
  }
)