(
  name: "HammerProjectile",
  templates: ["projectile.prototype.ron"],
  schematics: {
        "survival_rogue_like::item::projectile::Projectile": HammerProjectile,
        "survival_rogue_like::proto::ColliderProto": (x: 24., y: 24.),
        "survival_rogue_like::item::projectile::ProjectileState": (speed: 0., direction: (x: 0., y: 0.), spawn_offset: (x: -20., y: -20.), hit_entities: [], despawn_on_hit: false),
        "survival_rogue_like::animations::DoneAnimation": (),
        "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/effects/HammerProjectile.png", size: (x: 48., y: 48.), cols: 3, rows: 1),
        "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.08),
  }
)