(
  name: "HealthFood",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": HealthFood,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [GainStat("health", 15)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: HealthFood,
        metadata: (
            name: "Health Boost", 
            desc: ["Drink to permanently", "gain +15 max HP.", "Made with ingredients", "from the Forest."]
        ),
        rarity: Rare,
        count: 1
  ),
  }
)
