(
  name: "HeirloomChest",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": HeirloomChest,
  "survival_rogue_like::item::object_actions::TouchTriggerObjectAction": HeirloomChest,
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: HeirloomChest,
        metadata: (
            name: "Heirloom Chest",
            desc: ["Right-click to open.", "Contains a random heirloom."]
        ),
        count: 1
  ),
  }
)

