(
  name: "HeirloomShrineDone",
  templates: [],
  schematics: {
  "survival_rogue_like::item::WorldObject": HeirloomShrineDone,
  "survival_rogue_like::assets::SpriteSize": Small,
  "survival_rogue_like::assets::SpriteAnchor": ((x: 0., y: 14.)),
  "survival_rogue_like::world::y_sort::YSort": (-0.01),
  "survival_rogue_like::proto::ColliderCapsulProto": (x1: -28., y1: -12., x2: 28., y2: -12., r: 6.),
  }
)
