(
  name: "HeirloomShrine",
  templates: [],
  schematics: {
  "survival_rogue_like::item::WorldObject": HeirloomShrine,
  "survival_rogue_like::item::object_actions::ObjectAction": HeirloomShrine,
  "survival_rogue_like::assets::SpriteSize": Small,
  "survival_rogue_like::assets::SpriteAnchor": ((x: 0., y: 14.)),
  "survival_rogue_like::world::y_sort::YSort": (0.),
  "survival_rogue_like::proto::ColliderCapsulProto": (x1: -27., y1: -11., x2: 27., y2: -12., r: 6.),
  }
)
