(
  name: "IcePatch",
  templates: ["world_object.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": IcePatch,
  "survival_rogue_like::attributes::MaxHealth": (1),
  "survival_rogue_like::world::y_sort::YSort": (-0.025),
  }
)
