(
  name: "ItemDrop",
  templates: [],
  schematics: {
  "survival_rogue_like::proto::ColliderProto": (x: 10., y: 10.),
  "survival_rogue_like::proto::SensorProto": (),
  "survival_rogue_like::assets::SpriteSize": Small,
  "survival_rogue_like::assets::SpriteAnchor": ((x: 0., y: 0.)),
  "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.1),
  "survival_rogue_like::animations::AnimationPosTracker": (0.0, 0.0, 0.3),
  "survival_rogue_like::world::y_sort::YSort": (0.),
  "bevy_proto::custom::SpriteSheetBundle": (texture_atlas: AssetPath("bevy_survival_sprites.png")),
  }
)