(
  name: "LargePotion",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": LargePotion,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ ModifyHealth(35)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: LargePotion,
        rarity: Uncommon,
        metadata: (
            name: "Large Potion", 
            desc: ["Heals 35 health."]
        ),
        count: 1
  ),
  }
)