(
  name: "LargeManaPotion",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": LargeManaPotion,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ ModifyMana(75)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: LargeManaPotion,
        rarity: Uncommon,
        metadata: (
            name: "Large Mana Potion", 
            desc: ["For advanced Mana", "enjoyers."]
        ),
        rarity: Rare,
        count: 1
  ),
  }
)