(
  name: "LeatherTunic",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": LeatherTunic,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 6, end: 10)),
        defence: Some((start: 6, end: 10)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 5, end: 10)),
        crit_chance: Some((start: 4, end: 8)),
        speed: Some((start: 8, end: 12)),
        health_regen: Some((start: 4, end: 8)),
        thorns: Some((start: 8, end: 11)),
        dodge: Some((start: 12, end: 18)),
        loot_rate: Some((start: 6, end: 12)),
        xp_rate: Some((start: 7, end: 15)),
        mana: Some((start: 15, end: 24)),
        mana_regen: Some((start: 5, end: 12)),
        attack_speed: Some((start: 8, end: 15)),
        size: Some((start: 8, end: 15)),
        lifesteal: Some((start: 2, end: 5)),
        bonus_damage: Some((start: 5, end: 10)),
        pickup_range: Some((start: 15, end: 30)),
        skill_power: Some((start: 12, end: 22)),
  ),
  "survival_rogue_like::item::EquipmentType": Chest,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: LeatherTunic,
        metadata: (
            name: "Leather Tunic", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: Leather, chance: 1.), (obj: Leather, chance: 0.5)]),
  }
)