(
  name: "LeatherTunic",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": LeatherTunic,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 3, end: 5)),
        defence: Some((start: 3, end: 5)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 2, end: 5)),
        crit_chance: Some((start: 1, end: 3)),
        healing: Some((start: 2, end: 5)),
        speed: Some((start: 4, end: 8)),
        health_regen: Some((start: 1, end: 2)),
        thorns: Some((start: 4, end: 6)),
        dodge: Some((start: 1, end: 3)),
        loot_rate: Some((start: 6, end: 12)),
        xp_rate: Some((start: 7, end: 15)),
        mana: Some((start: 5, end: 10)),
        mana_regen: Some((start: 1, end: 2)),
  ),
  "survival_rogue_like::item::EquipmentType": Chest,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: LeatherTunic,
        metadata: (
            name: "Leather Tunic", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: Leather, chance: 1.), (obj: Leather, chance: 0.5)]),
  }
)