(
  name: "LeatherShoes",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": LeatherShoes,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 2, end: 6)),
        defence: Some((start: 2, end: 6)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 2, end: 6)),
        crit_chance: Some((start: 1, end: 4)),
        healing: Some((start: 2, end: 5)),
        bonus_damage: Some((start: 1, end: 1)),
        speed: Some((start: 4, end: 20)),
        health_regen: Some((start: 1, end: 2)),
        thorns: Some((start: 4, end: 8)),
        dodge: Some((start: 1, end: 4)),
        loot_rate: Some((start: 3, end: 5)),
        xp_rate: Some((start: 3, end: 5)),
        mana: Some((start: 2, end: 5)),
  ),
  "survival_rogue_like::item::EquipmentType": Feet,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: LeatherShoes,
        metadata: (
            name: "Leather Shoes ", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: Leather, chance: 1.), (obj: Leather, chance: 0.5)]),
  }
)