(
  name: "LeatherPants",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": LeatherPants,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 2, end: 7)),
        defence: Some((start: 5, end: 7)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 2, end: 6)),
        crit_chance: Some((start: 2, end: 6)),
        healing: Some((start: 8, end: 7)),
        bonus_damage: Some((start: 1, end: 2)),
        speed: Some((start: 4, end: 20)),
        health_regen: Some((start: 1, end: 3)),
        thorns: Some((start: 4, end: 5)),
        dodge: Some((start: 1, end: 7)),
        loot_rate: Some((start: 4, end: 10)),
        xp_rate: Some((start: 4, end: 10)),
  ),
  "survival_rogue_like::item::EquipmentType": Legs,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: LeatherPants,
        metadata: (
            name: "Leather Pants", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  }
)