(
  name: "LeatherShoes",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": LeatherShoes,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 13, end: 20)),
        defence: Some((start: 10, end: 14)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 5, end: 10)),
        crit_chance: Some((start: 4, end: 8)),
        speed: Some((start: 12, end: 20)),
        health_regen: Some((start: 4, end: 8)),
        thorns: Some((start: 8, end: 11)),
        dodge: Some((start: 12, end: 18)),
        loot_rate: Some((start: 6, end: 12)),
        xp_rate: Some((start: 7, end: 15)),
        mana: Some((start: 15, end: 24)),
        mana_regen: Some((start: 2, end: 7)),
        attack_speed: Some((start: 6, end: 10)),
        size: Some((start: 8, end: 15)),
        lifesteal: Some((start: 2, end: 5)),
        bonus_damage: Some((start: 5, end: 10)),
        pickup_range: Some((start: 15, end: 30)),
        skill_power: Some((start: 12, end: 22)),
  ),
  "survival_rogue_like::item::EquipmentType": Feet,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: LeatherShoes,
        metadata: (
            name: "Leather Shoes ", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: Leather, chance: 1.), (obj: Leather, chance: 0.5)]),
  }
)