(
  name: "Log",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Log,
  // "survival_rogue_like::item::PlacesInto": (Sma),
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(SmallGreenTree)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Log,
        metadata: (
            name: "Log", 
            desc: "A Long Log."
        ),
        count: 1
  ),
  }
)