(
  name: "MagicWhip",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": MagicWhip,
  "survival_rogue_like::item::EquipmentType": Weapon,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        attack: Some((start: 6, end: 9)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 2, end: 5)),
        crit_chance: Some((start: 2, end: 5)),
        healing: Some((start: 3, end: 8)),
        bonus_damage: Some((start: 1, end: 2)),
        speed: Some((start: 4, end: 15)),
        health_regen: Some((start: 1, end: 3)),
        thorns: Some((start: 3, end: 15)),
        dodge: Some((start: 1, end: 6)),
        loot_rate: Some((start: 3, end: 5)),
        xp_rate: Some((start: 4, end: 5)),
        mana: Some((start: 4, end: 8)),
        mana_regen: Some((start: 1, end: 5)),
  ),
  "survival_rogue_like::item::melee::MeleeAttack": (),
  "survival_rogue_like::item::item_actions::ManaCost": (10),
  "survival_rogue_like::item::projectile::RangedAttack": (GreenWhip),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: MagicWhip,
        attributes: (
            attack_cooldown: 0.85
        ),
        metadata: (
            name: "Magic Whip ", 
            desc: ["A magic whip."]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: WoodPlank, chance: 1.), (obj: WoodPlank, chance: 0.5)]),
  }
)