(
  name: "MagicGem",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": MagicGem,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: MagicGem,
        metadata: (
            name: "Magic Gem ", 
            desc: ["A magical gem. I", "wonder what it can", "do?"]
        ),
        rarity: Rare,
        count: 1
  ),
  }
)