(
  name: "MagicTusk",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": MagicTusk,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [TeleportHome]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: MagicTusk,
        metadata: (
            name: "Magic Tusk ", 
            desc: ["Transports you back", "to the portal."]
        ),
        rarity: Rare,
        count: 1
  ),
  }
)