(
  name: "ManaFood",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": ManaFood,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [GainStat("mana", 15)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: ManaFood,
        metadata: (
            name: "Mana Boost", 
            desc: ["Drink to permanently", "gain +15 max MP.", "Made with ingredients", "from the Forest."]
        ),
        rarity: Rare,
        count: 1
  ),
  }
)
