(
  name: "MetalBar",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": MetalBar,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: MetalBar,
        metadata: (
            name: "Metal Bar ", 
            desc: ["A metal ingot.", "Useful in crafting."],
        ),
        count: 1
  ),
  }
)