(
  name: "MetalShoes",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": MetalShoes,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 8, end: 15)),
        defence: Some((start: 8, end: 15)),
        speed: Some((start: -14, end: -6)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 2, end: 5)),
        crit_chance: Some((start: 4, end: 5)),
        healing: Some((start: 4, end: 15)),
        bonus_damage: Some((start: 1, end: 3)),
        health_regen: Some((start: -2, end: 1)),
        thorns: Some((start: 4, end: 10)),
        dodge: Some((start: 1, end: 3)),
        xp_rate: Some((start: 2, end: 5)),
        loot_rate: Some((start: 2, end: 5)),
  ),
  "survival_rogue_like::item::EquipmentType": Feet,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: MetalShoes,
        metadata: (
            name: "Metal Shoes ", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: MetalBar, chance: 1.), (obj: MetalBar, chance: 0.5)]),
  }
)