(
  name: "MetalShoes",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": MetalShoes,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        health: Some((start: 16, end: 27)),
        defence: Some((start: 12, end: 24)),
        speed: Some((start: -16, end: -8)),
  ),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 5, end: 10)),
        crit_chance: Some((start: 4, end: 8)),
        speed: Some((start: 8, end: 16)),
        health_regen: Some((start: 10, end: 16)),
        thorns: Some((start: 8, end: 16)),
        dodge: Some((start: 8, end: 14)),
        loot_rate: Some((start: 6, end: 12)),
        xp_rate: Some((start: 7, end: 15)),
      //   mana: Some((start: 15, end: 24)),
      //   mana_regen: Some((start: 5, end: 12)),
        attack_speed: Some((start: 6, end: 10)),
        size: Some((start: 12, end: 18)),
        lifesteal: Some((start: 4, end: 7)),
        bonus_damage: Some((start: 12, end: 18)),
        pickup_range: Some((start: 15, end: 30)),
        skill_power: Some((start: 9, end: 15)),
  ),
  "survival_rogue_like::item::EquipmentType": Feet,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: MetalShoes,
        metadata: (
            name: "Metal Shoes ", 
            desc: ["Nice."]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: MetalBar, chance: 1.), (obj: MetalBar, chance: 0.5)]),
  }
)