(
  name: "MiracleSeed",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": MiracleSeed,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [GrantSkillPoint(1)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: MiracleSeed,
        metadata: (
            name: "Miracle Seed", 
            desc: ["A magic seed.", "Will grant", "+1 skill pt.",]
        ),
        count: 1
  ),
  }
)