(
  name: "MovementSpeedPotion",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": MovementSpeedPotion,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ ApplyMovementSpeedBuff(10.0, 1.5)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: MovementSpeedPotion,
        metadata: (
            name: "Movement Speed Potion", 
            desc: ["Increases movement speed", "by 50% for 10 seconds."]
        ),
        rarity: Uncommon,
        count: 1
  ),
  }
)
