(
  name: "OrbOfTransformation",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": OrbOfTransformation,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: OrbOfTransformation,
        metadata: (
            name: "Orb Of ???", 
            desc: ["A mysterious orb.", "It seems to be", "drawn to your", "equipment..."],
        ),
        count: 1,
        rarity: Legendary

  ),
  }
)