(
  name: "OrbOfTransformation",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": OrbOfTransformation,
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: OrbOfTransformation,
        metadata: (
            name: "Mysterious Orb",
            desc: ["A mysterious orb...", "Drag and Drop on any", "equipment to re-roll", "its stats. Has a chance", "to increase its rarity."],
        ),
        count: 1,
        rarity: Legendary

  ),
  }
)