(
  name: "Pendant",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Pendant,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        attack_speed: Some((start: 9, end: 14)),

        health: Some((start: 20, end: 30)),
        defence: Some((start: 16, end: 28)),
        crit_damage: Some((start: 16, end: 28)),
        crit_chance: Some((start: 14, end: 24)),
        speed: Some((start: 14, end: 28)),
        health_regen: Some((start: 14, end: 28)),
        thorns: Some((start: 18, end: 28)),
        dodge: Some((start: 18, end: 28)),
        attack_speed: Some((start: 20, end: 30)),
        size: Some((start: 24, end: 36)),
        xp_rate: Some((start: 14, end: 28)),
        loot_rate: Some((start: 10, end: 18)),
        mana: Some((start: 20, end: 36)),
        mana_regen: Some((start: 10, end: 20)),
        lifesteal: Some((start: 8, end: 16)),
        bonus_damage: Some((start: 18, end: 28)),
        pickup_range: Some((start: 28, end: 44)),
        skill_power: Some((start: 20, end: 33)),
  ),
  "survival_rogue_like::item::EquipmentType": Pendant,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Pendant,
        metadata: (
            name: "Pendant", 
            desc: ["shiny!"]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: MetalBar, chance: 1.), (obj: MetalBar, chance: 0.5)]),
  }
)