(
  name: "Pendant",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Pendant,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        size: Some((start: 19, end: 30)),
        xp_rate: Some((start: 6, end: 12)),
        loot_rate: Some((start: 6, end: 12)),
        bonus_damage: Some((start: 3, end: 5)),
      //   mana: Some((start: 8, end: 18)),
        mana_regen: Some((start: 2, end: 4)),
        attack_speed: Some((start: 9, end: 14)),
  ),
  "survival_rogue_like::item::EquipmentType": Pendant,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Pendant,
        metadata: (
            name: "Pendant", 
            desc: ["shiny!"]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: MetalBar, chance: 1.), (obj: MetalBar, chance: 0.5)]),
  }
)