(
  name: "PlantFibre",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": PlantFibre,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: PlantFibre,
        metadata: (
            name: "Plant Fibre", 
            desc: ["Might be able to", "make some string", "with enough of", "these..."]
        ),
        count: 1
  ),
  }
)