(
  name: "RawMeat",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": RawMeat,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [Eat(10), ModifyHealth(-10)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: RawMeat,
        metadata: (
            name: "Raw Meat", 
            desc: ["NOT yummy. In", "fact it looks a", "little dangerous."]
        ),
        count: 1
  ),
  }
)