(
  name: "RedBeaconBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": RedBeaconBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(RedBeacon)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: RedBeaconBlock,
        metadata: (
            name: "Red Beacon ", 
            desc: ["Place this down to","mark this location."]
        ),
        count: 1
  ),
  }
)