(
  name: "RedBeaconBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": RedBeaconBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [BeaconBossShrine]),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: RedBeaconBlock,
        metadata: (
            name: "Boss Map ", 
            desc: ["Guides you to","the Boss Shrine."]
        ),
        count: 1
  ),
  }
)