(
  name: "RedCape",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": RedCape,
  "survival_rogue_like::item::EquipmentType": Cape,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: RedCape,
        metadata: (
            name: "Warrior's Cape", 
            desc: ["A simple cape full", "of potential. For", "now, it's only", " purpose is to", "obscure your clothing."]
        ),
        count: 1
  ),
  }
)