(
  name: "RedMushling",
  templates: [],
  schematics: {
    "survival_rogue_like::enemy::Mob": RedMushling, 
    "survival_rogue_like::proto::KCC": (),
    "survival_rogue_like::combat::status_effects::StatusEffectTracker": (effects: []),
    "survival_rogue_like::proto::SensorProto": (),
    "survival_rogue_like::world::y_sort::YSort": (0.),
    "survival_rogue_like::enemy::CombatAlignment": Neutral,
    // "survival_rogue_like::enemy::FollowSpeed": (0.0),
    // "survival_rogue_like::proto::IdleStateProto": (walk_dir_change_time: 100., speed: 0.0),
    // "survival_rogue_like::animations::enemy_sprites::EnemyAnimationState": Idle,
    // "survival_rogue_like::enemy::LeapAttack": (activation_distance: 64., startup: 0.0, duration: 4.35, cooldown: 1.0, speed: 40.),
    "survival_rogue_like::proto::ColliderCapsulProto": (x1: 0., y1: -1., x2: 0., y2: -1.5, r: 4.),
    // "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/redmushling/redmushling_down.png", size: (x: 48., y: 48.), cols: 47, rows: 5),
    // "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.05),
    // "survival_rogue_like::animations::enemy_sprites::CharacterAnimationSpriteSheetData": (animation_frames: [1,1,1,1,47], anim_offset: 0),
    "survival_rogue_like::attributes::MaxHealth": (45),
    "survival_rogue_like::attributes::Attack": (10),
    "survival_rogue_like::player::levels::ExperienceReward": (25),
    "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: SmallPotion,
                min: 1,
                max: 1,
                rate: 0.05
            ),
            (
                item: LargePotion,
                min: 1,
                max: 1,
                rate: 0.05
            ),
            (
                item: RedMushroomBlock,
                min: 1,
                max: 2,
                rate: 1.
            ),
           (
                item: Arrow,
                min: 1,
                max: 3,
                rate: 0.07
            ),
            (
                item: ThrowingStar,
                min: 1,
                max: 3,
                rate: 0.07
            ),
            (
                item: Sword,
                min: 1,
                max: 1,
                rate: 0.015
            ),
            (
                item: Dagger,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: BasicStaff,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: FireStaff,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: MagicWhip,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: WoodBow,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: Claw,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: Ring,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: Pendant,
                min: 1,
                max: 1,
                rate: 0.008
            ),
            (
                item: Chestplate,
                min: 1,
                max: 1,
                rate: 0.01
            ),
            (
                item: MetalPants,
                min: 1,
                max: 1,
                rate: 0.01
            ),
            (
                item: MetalShoes,
                min: 1,
                max: 1,
                rate: 0.01
            ),
            (
                item: LeatherTunic,
                min: 1,
                max: 1,
                rate: 0.014
            ),
            (
                item: LeatherPants,
                min: 1,
                max: 1,
                rate: 0.014
            ),
            (
                item: LeatherShoes,
                min: 1,
                max: 1,
                rate: 0.014
            ),
            (
                item: ForestShirt,
                min: 1,
                max: 1,
                rate: 0.01
            ),
            (
                item: ForestPants,
                min: 1,
                max: 1,
                rate: 0.01
            ),
            (
                item: ForestShoes,
                min: 1,
                max: 1,
                rate: 0.01
            ),
            (
                item: UpgradeTome,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: OrbOfTransformation,
                min: 1,
                max: 1,
                rate: 0.035
            ),
            (
                item: Key,
                min: 1,
                max: 1,
                rate: 0.012
            ),
            (
                item: TimeFragment,
                min: 1,
                max: 1,
                rate: 0.2
            ),
            ]
        ),
  }
)