(
  name: "RedMushking",
  templates: [],
  schematics: {
    "survival_rogue_like::enemy::Mob": RedMushking, 
    "survival_rogue_like::proto::KCC": (),
    "survival_rogue_like::combat::status_effects::StatusEffectTracker": (effects: []),
    "survival_rogue_like::proto::SensorProto": (),
    "survival_rogue_like::world::y_sort::YSort": (1.),
    "survival_rogue_like::enemy::CombatAlignment": Hostile,
    "survival_rogue_like::enemy::FollowSpeed": (0.65),
    "survival_rogue_like::enemy::LeapAttack": (activation_distance: 100., startup: 0.0, duration: 4.35, cooldown: 1.25, speed: 150.),
    "survival_rogue_like::proto::ColliderCapsulProto": (x1: -17., y1: -15., x2: 17., y2: -15., r: 14.),
    "survival_rogue_like::attributes::MaxHealth": (500),
    "survival_rogue_like::attributes::Attack": (20),
    "survival_rogue_like::player::levels::ExperienceReward": (500),
    "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: SmallPotion,
                min: 1,
                max: 1,
                rate: 0.5
            ),
            (
                item: LargePotion,
                min: 1,
                max: 1,
                rate: 0.25
            ),
            (
                item: RedMushroomBlock,
                min: 3,
                max: 9,
                rate: 1.
            ),
            (
                item: Arrow,
                min: 10,
                max: 20,
                rate: 0.85
            ),
            // (
            //     item: ThrowingStar,
            //     min: 1,
            //     max: 3,
            //     rate: 0.1
            // ),
            // (
            //     item: Sword,
            //     min: 1,
            //     max: 1,
            //     rate: 0.05
            // ),
            (
                item: Dagger,
                min: 1,
                max: 1,
                rate: 0.35
            ),
            // (
            //     item: BasicStaff,
            //     min: 1,
            //     max: 1,
            //     rate: 0.006
            // ),
            // (
            //     item: FireStaff,
            //     min: 1,
            //     max: 1,
            //     rate: 0.006
            // ),
            (
                item: MagicWhip,
                min: 1,
                max: 1,
                rate: 0.1
            ),
            // (
            //     item: WoodBow,
            //     min: 1,
            //     max: 1,
            //     rate: 0.15
            // ),
            // (
            //     item: Claw,
            //     min: 1,
            //     max: 1,
            //     rate: 0.15
            // ),
            (
                item: Ring,
                min: 1,
                max: 1,
                rate: 0.3
            ),
            (
                item: Pendant,
                min: 1,
                max: 1,
                rate: 0.2
            ),
            // (
            //     item: Chestplate,
            //     min: 1,
            //     max: 1,
            //     rate: 0.006
            // ),
            // (
            //     item: MetalPants,
            //     min: 1,
            //     max: 1,
            //     rate: 0.006
            // ),
            // (
            //     item: MetalShoes,
            //     min: 1,
            //     max: 1,
            //     rate: 0.006
            // ),
            // (
            //     item: LeatherTunic,
            //     min: 1,
            //     max: 1,
            //     rate: 0.2
            // ),
            // (
            //     item: LeatherPants,
            //     min: 1,
            //     max: 1,
            //     rate: 0.2
            // ),
            // (
            //     item: LeatherShoes,
            //     min: 1,
            //     max: 1,
            //     rate: 0.2
            // ),
            (
                item: ForestShirt,
                min: 1,
                max: 1,
                rate: 0.35
            ),
            (
                item: ForestPants,
                min: 1,
                max: 1,
                rate: 0.35
            ),
            (
                item: ForestShoes,
                min: 1,
                max: 1,
                rate: 0.35
            ),
            (
                item: UpgradeTome,
                min: 1,
                max: 2,
                rate: 0.65
            ),
            (
                item: UpgradeTome,
                min: 1,
                max: 2,
                rate: 0.35
            ),
            (
                item: OrbOfTransformation,
                min: 1,
                max: 1,
                rate: 0.25
            ),
            (
                item: OrbOfTransformation,
                min: 1,
                max: 1,
                rate: 0.85
            ),
            (
                item: TimeFragment,
                min: 2,
                max: 5,
                rate: 1.
            ),
            ]
        ),
  }
)