(
  name: "RedMushroomBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": RedMushroomBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ModifyHealth(5), Eat(5)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: RedMushroomBlock,
        metadata: (
            name: "Red Mushroom", 
            desc: ["Smells funny...", "Looks cool though!", "I should try", "cooking it."]
        ),
        count: 1
  ),
  }
)