(
  name: "RedSapplingBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": RedSapplingBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(RedSapplingStage1)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: RedSapplingBlock,
        metadata: (
            name: "Red Sappling", 
            desc: ["Grows into a tree", "when placed on", "the ground."],
        ),
        count: 1
  ),
  }
)