(
  name: "RedTree",
  templates: [],
  schematics: {
  "survival_rogue_like::item::WorldObject": RedTree,
//   "survival_rogue_like::item::Foliage": RedTree,
  "bevy_proto::custom::SpriteBundle": (
      texture: AssetPath("redtree.png")
   ),
  "survival_rogue_like::assets::SpriteSize": Small,
  "survival_rogue_like::item::FoliageSize": ((x: 64., y: 96.)),
  "survival_rogue_like::assets::SpriteAnchor": ((x: 0., y: 32.)),
  "survival_rogue_like::item::RequiredEquipmentType": (Axe),
  "survival_rogue_like::proto::ColliderCapsulProto": (x1: 0., y1: -30., x2: 0., y2: -22., r: 2.5),
  "survival_rogue_like::attributes::MaxHealth": (35),
  "survival_rogue_like::world::y_sort::YSort": (0.),
  "bevy_proto::custom::VisibilityBundle": (),
  "survival_rogue_like::player::levels::ExperienceReward": (15),
  "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: WoodPlank,
                min: 2,
                max: 4,
                rate: 1.
            ),
            (
                item: Stick,
                min: 1,
                max: 3,
                rate: 0.3
            ),(
                item: Log,
                min: 1,
                max: 1,
                rate: 0.35
            ),
            (
                item: Apple,
                min: 1,
                max: 3,
                rate: 0.75
            ),
            (
                item: RedSapplingBlock,
                min: 1,
                max: 1,
                rate: 1.
            ),]
        ),
  }
)