(
  name: "Ring",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Ring,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (),
  "survival_rogue_like::attributes::RawItemBonusAttributes": (
        crit_damage: Some((start: 2, end: 8)),
        crit_chance: Some((start: 2, end: 8)),
        healing: Some((start: 3, end: 12)),
        bonus_damage: Some((start: 1, end: 2)),
        speed: Some((start: 4, end: 12)),
        health_regen: Some((start: 1, end: 3)),
        thorns: Some((start: 5, end: 12)),
        dodge: Some((start: 1, end: 8)),
        xp_rate: Some((start: 4, end: 10)),
        loot_rate: Some((start: 4, end: 10)),
        mana: Some((start: 4, end: 12)),
        mana_regen: Some((start: 1, end: 3)),
  ),
  "survival_rogue_like::item::EquipmentType": Ring,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Ring,
        metadata: (
            name: "Ring", 
            desc: ["shiny!"]
        ),
        count: 1
  ),
  "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: MetalBar, chance: 1.), (obj: MetalBar, chance: 0.5)]),
  }
)