(
  name: "ScorpionProjectile",
  templates: ["projectile.prototype.ron"],
  schematics: {
        "survival_rogue_like::item::projectile::Projectile": ScorpionProjectile,
        "survival_rogue_like::proto::ColliderProto": (x: 7., y: 12.),
        "survival_rogue_like::item::projectile::ProjectileState": (speed: 140., direction: (x: 0., y: 0.), hit_entities: [], despawn_on_hit: true),
        "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/scorpion/scorpionProjectile.png", size: (x: 20., y: 32.), cols: 1, rows: 1),
  }
)
