(
  name: "SizeFood",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": SizeFood,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [GainStat("size", 10)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: SizeFood,
        metadata: (
            name: "Size Boost", 
            desc: ["Drink to permanently", "gain +10 size.", "Made with ingredients", "from the Forest and","Desert."]
        ),
        rarity: Legendary,
        count: 1
  ),
  }
)
