(
  name: "SkillPowerFood",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": SkillPowerFood,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [GainStat("skill_power", 10)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: SkillPowerFood,
        metadata: (
            name: "Skill Power Boost", 
            desc: ["Drink to", "permanently gain", "+10 skill power."]
        ),
        rarity: Rare,
        count: 1
  ),
  }
)
