(
  name: "SlimeGoo",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": SlimeGoo,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: SlimeGoo,
        metadata: (
            name: "Slime Goo ", 
            desc: ["A glob of Slime", "Goo. Probably", "can't eat it. But it", " might be useful."]
        ),
        count: 1
  ),
  }
)