(
  name: "Slime",
  templates: ["mob_basic"],
  schematics: {
    "survival_rogue_like::enemy::Mob": Slime,
    "survival_rogue_like::enemy::CombatAlignment": Hostile,
    "survival_rogue_like::enemy::FollowSpeed": (0.55),
    "survival_rogue_like::animations::enemy_sprites::EnemyAnimationState": Walk,
    "survival_rogue_like::enemy::LeapAttack": (activation_distance: 100., startup: 1., duration: 0.6, cooldown: 3.0, speed: 2.5),
    "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/slime/slime_down.png", size: (x: 96., y: 96.), cols: 7, rows: 5),
    "survival_rogue_like::proto::ColliderCapsulProto": (x: -16., y: -16.5, r: 34.),
    "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.2),
    "survival_rogue_like::animations::AnimationFrameTracker": (0, 7),
    "survival_rogue_like::animations::enemy_sprites::CharacterAnimationSpriteSheetData": (animation_frames: [7,7,7,7,7], anim_offset: 0),
    "survival_rogue_like::attributes::MaxHealth": (500),
    "survival_rogue_like::attributes::Attack": (25),
    "survival_rogue_like::player::levels::ExperienceReward": (275),
    "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: SmallPotion,
                min: 1,
                max: 1,
                rate: 0.065
            ),
            (
                item: LargePotion,
                min: 1,
                max: 1,
                rate: 0.035
            ),
            (
                item: SlimeGoo,
                min: 1,
                max: 3,
                rate: 0.5
            ),
            (
                item: Arrow,
                min: 1,
                max: 3,
                rate: 0.25
            ),
            (
                item: ThrowingStar,
                min: 1,
                max: 3,
                rate: 0.25
            ),
            (
                item: Sword,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: Dagger,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: BasicStaff,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: FireStaff,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: MagicWhip,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: WoodBow,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: Claw,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: Ring,
                min: 1,
                max: 1,
                rate: 0.065
            ),
            (
                item: Pendant,
                min: 1,
                max: 1,
                rate: 0.05
            ),
            (
                item: Chestplate,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: MetalPants,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: MetalShoes,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: LeatherTunic,
                min: 1,
                max: 1,
                rate: 0.05
            ),
            (
                item: LeatherPants,
                min: 1,
                max: 1,
                rate: 0.05
            ),
            (
                item: LeatherShoes,
                min: 1,
                max: 1,
                rate: 0.05
            ),
            (
                item: ForestShirt,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: ForestPants,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: ForestShoes,
                min: 1,
                max: 1,
                rate: 0.04
            ),
            (
                item: UpgradeTome,
                min: 1,
                max: 6,
                rate: 1.
            ),
            (
                item: OrbOfTransformation,
                min: 1,
                max: 3,
                rate: 1.
            ),
            ]
        ),
  }
)