(
  name: "SmallPotion",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": SmallPotion,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ ModifyHealth(20)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: SmallPotion,
        metadata: (
            name: "Small Potion ", 
            desc: ["A fine thing to", "have in your", "pocket."]
        ),
        rarity: Uncommon,
        count: 1
  ),
  }
)