(
  name: "SnowFlowerBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": SnowFlowerBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(SnowFlower)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: SnowFlowerBlock,
        metadata: (
            name: "White Flower ", 
            desc: ["A white flower.", "Might help in a","recipe."]
        ),
        count: 1
  ),
  }
)