
(
  name: "SnowBerries",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": SnowBerries,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ModifyMana(25)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: SnowBerries,
        metadata: (
            name: "Snow Berries", 
            desc: ["Crunchy and juicy", "Snow Berries. So", "refreshing!"]
        ),
        count: 1
  ),
  }
)