(
  name: "SnowFlower2Block",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": SnowFlower2Block,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(SnowFlower)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: SnowFlower2Block,
        metadata: (
            name: "Orange Flower", 
            desc: ["A white flower.", "Might help in a","recipe."]
        ),
        count: 1
  ),
  }
)