(
  name: "SpearGravity",
  templates: ["projectile.prototype.ron"],
  schematics: {
        "survival_rogue_like::item::projectile::Projectile": SpearGravity,
        "survival_rogue_like::world::y_sort::YSort": (10.),
        "survival_rogue_like::item::projectile::ProjectileState": (speed: 0., direction: (x: 0., y: 0.), hit_entities: [], despawn_on_hit: false),
        "survival_rogue_like::animations::DoneAnimation": (),
        "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/effects/speargravity.png", size: (x: 48., y: 55.), cols: 24, rows: 1),
        "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.045),
  }
)

