(
  name: "SpikeSlime",
  templates: ["mob_basic"],
  schematics: {
    "survival_rogue_like::enemy::Mob": SpikeSlime,
    "survival_rogue_like::enemy::CombatAlignment": Neutral,
    "survival_rogue_like::enemy::FollowSpeed": (0.65),
    "survival_rogue_like::animations::enemy_sprites::EnemyAnimationState": Walk,
    "survival_rogue_like::enemy::LeapAttack": (activation_distance: 50., startup: 0.3, duration: 0.25, cooldown: 1.0, speed: 95.),
    "survival_rogue_like::enemy::ProjectileAttack": (activation_distance: 100., cooldown: 2.0, projectile: SlimeGooProjectile),
//    "survival_rogue_like::proto::EnemyMaterialMesh2DProto": (asset: "textures/slime/slime-move-0.png", size: (x: 32., y: 32.)),
    "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/spikeslime/spikeslime_down.png", size: (x: 32., y: 32.), cols: 6, rows: 5),
    "survival_rogue_like::proto::ColliderCapsulProto": (x: -4., y: -4.5, r: 10.),
    "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.1),
    "survival_rogue_like::animations::AnimationFrameTracker": (0, 7),
    "survival_rogue_like::animations::enemy_sprites::CharacterAnimationSpriteSheetData": (animation_frames: [4,4,4,6,4], anim_offset: 0),
    "survival_rogue_like::attributes::MaxHealth": (45),
    "survival_rogue_like::attributes::Attack": (5),
    "survival_rogue_like::player::levels::ExperienceReward": (37),
    "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: SmallPotion,
                min: 1,
                max: 1,
                rate: 0.065
            ),
            (
                item: LargePotion,
                min: 1,
                max: 1,
                rate: 0.035
            ),
            (
                item: SlimeGoo,
                min: 1,
                max: 3,
                rate: 0.5
            ),
            (
                item: Arrow,
                min: 1,
                max: 3,
                rate: 0.25
            ),
            (
                item: ThrowingStar,
                min: 1,
                max: 3,
                rate: 0.25
            ),
            (
                item: Sword,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: Dagger,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: BasicStaff,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: FireStaff,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: MagicWhip,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: WoodBow,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: Claw,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: Ring,
                min: 1,
                max: 1,
                rate: 0.0065
            ),
            (
                item: Pendant,
                min: 1,
                max: 1,
                rate: 0.005
            ),
            (
                item: Chestplate,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: MetalPants,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: MetalShoes,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: LeatherTunic,
                min: 1,
                max: 1,
                rate: 0.005
            ),
            (
                item: LeatherPants,
                min: 1,
                max: 1,
                rate: 0.005
            ),
            (
                item: LeatherShoes,
                min: 1,
                max: 1,
                rate: 0.005
            ),
            (
                item: ForestShirt,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: ForestPants,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: ForestShoes,
                min: 1,
                max: 1,
                rate: 0.004
            ),
            (
                item: UpgradeTome,
                min: 1,
                max: 1,
                rate: 0.003
            ),
            (
                item: OrbOfTransformation,
                min: 1,
                max: 1,
                rate: 0.0015
            ),
            ]
        ),
  }
)