(
  name: "SpikeSlime",
  templates: ["mob_basic"],
  schematics: {
    "survival_rogue_like::enemy::Mob": SpikeSlime,
    "survival_rogue_like::enemy::CombatAlignment": Neutral,
    "survival_rogue_like::animations::enemy_sprites::EnemyAnimationState": Walk,
    "survival_rogue_like::enemy::LeapAttack": (activation_distance: 50., duration: 0.25, cooldown: 1.0, speed: 1.7),
    "survival_rogue_like::enemy::ProjectileAttack": (activation_distance: 100., cooldown: 2.0, projectile: Fireball),
//    "survival_rogue_like::proto::EnemyMaterialMesh2DProto": (asset: "textures/slime/slime-move-0.png", size: (x: 32., y: 32.)),
    "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/spikeslime/spikeslime_down.png", size: (x: 32., y: 32.), cols: 6, rows: 5),
    "survival_rogue_like::proto::ColliderProto": (x: 10., y: 8.),
    "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.2),
    "survival_rogue_like::animations::AnimationFrameTracker": (0, 7),
    "survival_rogue_like::animations::enemy_sprites::CharacterAnimationSpriteSheetData": (animation_frames: [4,4,4,6,4], valid_directions: [0,1,2,3], anim_offset: 0),
    "survival_rogue_like::attributes::MaxHealth": (50),
    "survival_rogue_like::attributes::Attack": (5),
    "survival_rogue_like::levels::ExperienceReward": (15),
    "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: SmallPotion,
                min: 1,
                max: 1,
                rate: 0.05
            ),
            (
                item: LargePotion,
                min: 1,
                max: 1,
                rate: 0.32
            ),
            (
                item: SlimeGoo,
                min: 1,
                max: 3,
                rate: 0.5
            ),
            (
                item: Sword,
                min: 1,
                max: 1,
                rate: 0.95
            ),
            (
                item: MagicWhip,
                min: 1,
                max: 1,
                rate: 1.
            ),
            (
                item: WoodAxe,
                min: 1,
                max: 1,
                rate: 0.95
            )
            ]
        ),
  }
)