(
  name: "Stick",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Stick,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Stick,
        metadata: (
            name: "Stick", 
            desc: ["A Stick. Useful in", "crafting various", "tools."]
        ),
        count: 1
  ),
  }
)