(
  name: "StoneWall",
  templates: [],
  schematics: {
  "survival_rogue_like::item::WorldObject": StoneWall,
  "survival_rogue_like::item::Wall": StoneWall,
  "survival_rogue_like::assets::SpriteSize": Medium,
  "survival_rogue_like::item::Block": (),
  "survival_rogue_like::item::Breakable": (Some(StoneWallBlock)),
  "survival_rogue_like::proto::ColliderProto": (x: 16, y: 11),
  "survival_rogue_like::attributes::MaxHealth": (100),
  "survival_rogue_like::world::WorldObjectEntityData": (object: StoneWall, obj_bit_index: 0, texture_offset: 0),
  "survival_rogue_like::world::y_sort::YSort": (),
  "bevy_proto::custom::VisibilityBundle": (),
  }
)