(
  name: "StoneWallBlock",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": StoneWallBlock,
  "survival_rogue_like::item::PlacesInto": (StoneWall),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: StoneWallBlock,
        metadata: (
            name: "Stone Wall Block", 
            desc: "Creates a Stone Wall."
        ),
        count: 1
  ),
  }
)