(
  name: "StoneWallBlock",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": StoneWallBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(StoneWall)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: StoneWallBlock,
        metadata: (
            name: "Stone Wall", 
            desc: ["Creates a Stone", "Wall."]
        ),
        count: 1
  ),
  }
)