(
  name: "StoneGolem",
  templates: [],
  schematics: {
    "survival_rogue_like::enemy::Mob": StoneGolem,
    "survival_rogue_like::proto::KCC": (),
    "survival_rogue_like::combat::status_effects::StatusEffectTracker": (effects: []),
    "survival_rogue_like::proto::SensorProto": (),
    "survival_rogue_like::world::y_sort::YSort": (1.),
    "survival_rogue_like::enemy::CombatAlignment": Hostile,
    "survival_rogue_like::enemy::FollowSpeed": (0.5),
    "survival_rogue_like::proto::ColliderCapsulProto": (x1: -14., y1: -14., x2: 14., y2: -14., r: 14.),
    "survival_rogue_like::attributes::MaxHealth": (3000),
    "survival_rogue_like::attributes::Attack": (20),
    "survival_rogue_like::enemy::MobLevel": (1),
    "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: TimeFragment,
                min: 1,
                max: 3,
                rate: 1.
            ),
            (
                item: ChestBlock,
                min: 1,
                max: 1,
                rate: 0.5
            ),
            (
                item: HeirloomChest,
                min: 1,
                max: 1,
                rate: 0.5
            ),
            (
                item: Coin,
                min: 5,
                max: 10,
                rate: 1.
            ),
            (
                item: XPShardMedium,
                min: 1,
                max: 1,
                rate: 1.
            ),
            (
                item: XPShardMedium,
                min: 1,
                max: 1,
                rate: 1.
            ),
            (
                item: XPShardMedium,
                min: 1,
                max: 1,
                rate: 1.
            ),
            (
                item: XPShardMedium,
                min: 1,
                max: 1,
                rate: 1.
            ),
            (
                item: XPShard,
                min: 1,
                max: 1,
                rate: 1.
            ),
            (
                item: XPShard,
                min: 1,
                max: 1,
                rate: 1.
            ),
            (
                item: XPShard,
                min: 1,
                max: 1,
                rate: 1.
            ),

            ]
        ),
  }
)

