(
  name: "String",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": String,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: String,
        metadata: (
            name: "String ", 
            desc: ["Some string. Helps", "to craft various", "tools."]
        ),
        count: 1
  ),
  }
)