(
  name: "SwordProj",
  templates: ["projectile"],
  schematics: {
        "survival_rogue_like::item::projectile::Projectile": SwordProj,
        // "survival_rogue_like::proto::ColliderProto": (x: 24., y: 8.),
        "survival_rogue_like::item::projectile::ProjectileState": (speed: 0., direction: (x: 0., y: 0.), hit_entities: [], spawn_offset: (x: -20., y: -20.)),
        "survival_rogue_like::item::projectile::ArcProjectileData": (size: (x: 22., y: 14.), col_size: (x: 14., y: 4.), arc: (x: 0.65, y: 0.9), col_points: [1.5707, 0., -1.5707, -1.9]),
        "survival_rogue_like::animations::DoneAnimation": (),
        "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/effects/swordproj.png", size: (x: 37., y: 54.), cols: 4, rows: 1),
        "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.08),
  }
)