(
  name: "Sword",
  templates: ["world_object"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Sword,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Sword,
        attributes: (
            durability: 100,
            max_durability: 100,
            attack: 20,
            attack_cooldown: 0.4
        ),
        metadata: (
            name: "Sword", 
            desc: "A rusty sword."
        ),
        count: 1
  ),
  }
)