(
  name: "ThrowingStarLarge",
  templates: ["projectile.prototype.ron"],
  schematics: {
        "survival_rogue_like::proto::ColliderProto": (x: 16., y: 16.),
        "survival_rogue_like::item::projectile::Projectile": ThrowingStarLarge,
        "survival_rogue_like::item::projectile::ProjectileState": (speed: 260., spawn_offset: (x: 0., y: 2.), hit_entities: [], despawn_on_hit: false),
        "survival_rogue_like::proto::SpriteSheetProto": (asset: "textures/effects/ninjastarlarge.png", size: (x: 32., y: 32.), cols: 8, rows: 1),
        // "survival_rogue_like::animations::DoneAnimation": (),
        "survival_rogue_like::proto::AnimationTimerProto": (secs: 0.055),
        "survival_rogue_like::animations::AnimationPosTracker": (0.0, 0.0, 0.3),
  }
)