(
  name: "TimeFragment",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": TimeFragment,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: TimeFragment,
        metadata: (
            name: "Time Fragment", 
            desc: [""]
        ),
        rarity: Rare,
        count: 1
  ),
  }
)