(
  name: "Tusk",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": Tusk,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: Tusk,
        metadata: (
            name: "Tusk", 
            desc: ["Pointy!"]
        ),
        count: 1
  ),
  }
)