(
  name: "UpgradeTome",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": UpgradeTome,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: UpgradeTome,
        metadata: (
            name: "Upgrade Tome", 
            desc: ["A Upgrade Tome."]
        ),
        count: 1,
        rarity: Rare
  ),
  }
)