(
  name: "UpgradeTome",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": UpgradeTome,
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: UpgradeTome,
        metadata: (
            name: "Upgrade Tome", 
            desc: ["Drag and Drop on any", "equipment to increase", "an item's level once,", "making it stronger."],
        ),
        count: 1,
        rarity: Rare
  ),
  }
)