(
  name: "UpgradeStationBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": UpgradeStationBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(UpgradeStation)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: UpgradeStationBlock,
        metadata: (
            name: "Upgrade Station", 
            desc: ["Allows you to", "upgrade and", "improve your","equipment. "]
        ),
        count: 1
  ),
  }
)