(
  name: "WaterBoulder",
  templates: ["world_object.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": WaterBoulder,
  "survival_rogue_like::proto::ColliderProto": (x: 8., y: 8),
  "survival_rogue_like::attributes::MaxHealth": (35),
  "survival_rogue_like::player::levels::ExperienceReward": (20),
  "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
            item: PebbleBlock,
                min: 1,
                max: 1,
                rate: 1.
            ),]
        ),
  }
)