(
  name: "WellShrine",
  templates: [],
  schematics: {
  "survival_rogue_like::item::WorldObject": WellShrine,
  "survival_rogue_like::assets::SpriteSize": Small,
  "survival_rogue_like::assets::SpriteAnchor": ((x: 0., y: 22.)),
  "survival_rogue_like::world::y_sort::YSort": (-0.01),
  "survival_rogue_like::proto::ColliderCapsulProto": (x1: -8., y1: -16., x2: 8., y2: -16., r: 10.),
  }
)
