(
  name: "WoodPlank",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": WoodPlank,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: WoodPlank,
        metadata: (
            name: "Wood Plank", 
            desc: ["Sturdy! Must be","able to build","quite a few things", "with this."]
        ),
        count: 1
  ),
  }
)