(
  name: "WoodPickaxe",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": WoodPickaxe,
  "survival_rogue_like::item::EquipmentType": Pickaxe,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: WoodPickaxe,
        metadata: (
            name: "Wood Pickaxe", 
            desc: ["Keep this pickaxe in", "your inventory to", "mine rocks with", "your weapon."]
        ),
        count: 1
  ),
  }
)