(
  name: "WoodAxe",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": WoodAxe,
  "survival_rogue_like::item::EquipmentType": Axe,
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: WoodAxe,
        metadata: (
            name: "Wood Axe", 
            desc: ["Keep this axe in", "your inventory to", "chop trees with", "your weapon."]
        ),
        count: 1
  ),
   "survival_rogue_like::ui::scrapper_ui::ScrapsInto": ([(obj: StoneChunk, chance: 1.),(obj: StoneChunk, chance: 1.), (obj: StoneChunk, chance: 0.5)]),
  }
)