(
  name: "WoodAxe",
  templates: ["item_drop"],
  schematics: {
  "survival_rogue_like::item::WorldObject": WoodAxe,
  "survival_rogue_like::item::EquipmentType": Axe,
  "survival_rogue_like::attributes::RawItemBaseAttributes": (
        attack: Some((start: 5, end: 8)),
  ),
  "survival_rogue_like::item::melee::MeleeAttack": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: WoodAxe,
        attributes: (
            max_durability: 100,
            attack_cooldown: 0.9
        ),
        metadata: (
            name: "Wood Axe", 
            desc: ["A rusty Wood Axe."]
        ),
        count: 1
  ),
  }
)