(
  name: "WorldGenerationParams",
  // Since this prototype only contains a resource,
  // we can mark it as not needing an entity to be spawned.
  entity: false,
  schematics: {
    "survival_rogue_like::world::WorldGeneration": (
      water_frequency: 0.25,
      stone_frequency: 0.0,
      sand_frequency: 0.32,
      dirt_frequency: 0.0,
      stone_wall_frequency: 0.0,
      object_generation_frequencies: {
        SmallGreenTree: 0.015,
        SmallYellowTree: 0.015,
        MediumYellowTree: 0.007,
        MediumGreenTree: 0.007,
        RedTree: 0.004,
        Boulder: 0.003,
        Boulder2: 0.003,
        CoalBoulder: 0.002,
        MetalBoulder: 0.002,
        Grass: 0.15,
        Grass2: 0.15,
        Grass3: 0.15,
        Pebble: 0.009,
        RedMushroom: 0.006,
        BrownMushroom: 0.006,
        BerryBush: 0.004,
        Crate: 0.0007,
        Crate2: 0.0007,
        DeadSapling: 0.017,

        Bush: 0.003,
        Bush2: 0.003,
        LargeStump: 0.002,
        LargeMushroomStump: 0.001,
        YellowFlower: 0.007,
        RedFlower: 0.007,
        PinkFlower: 0.007,
        Stump: 0.007,
        Stump2: 0.007,
        Cattail: 0.03,
        Lillypad: 0.03,
        WaterBoulder: 0.02,
        WaterBoulder2: 0.02,
      },
      schematic_frequencies: {
        House: 0.00,
        DungeonEntrance: 0.1,
        CombatShrine: 0.15,
      },
      obj_allowed_tiles_map: {
        SmallGreenTree: [GrassTile],
        SmallYellowTree: [GrassTile],
        RedTree: [GrassTile],
        MediumYellowTree: [GrassTile],
        MediumGreenTree: [GrassTile],
        Boulder: [GrassTile],
        Boulder2: [GrassTile],
        CoalBoulder: [GrassTile],
        MetalBoulder: [GrassTile],
        Grass: [GrassTile],
        Grass2: [GrassTile],
        Grass3: [GrassTile],
        BerryBush: [GrassTile],
        RedMushroom: [GrassTile],
        BrownMushroom: [GrassTile],
        Pebble: [GrassTile],
        DeadSapling: [GrassTile],
        Bush: [GrassTile],
        Bush2: [GrassTile],
        LargeStump: [GrassTile],
        LargeMushroomStump: [GrassTile],
        YellowFlower: [GrassTile],
        RedFlower: [GrassTile],
        PinkFlower: [GrassTile],
        Stump: [GrassTile],
        Stump2: [GrassTile],
        Cattail: [WaterTile],
        Lillypad: [WaterTile],
        WaterBoulder: [WaterTile],
        WaterBoulder2: [WaterTile],
        Chest: [GrassTile, ],
        StoneWall: [GrassTile,],
        Crate: [GrassTile, ],
        Crate2: [GrassTile, ],
      }
    ),
  }
)