(
  name: "WorldGenerationParams",
  // Since this prototype only contains a resource,
  // we can mark it as not needing an entity to be spawned.
  entity: false,
  schematics: {
    "survival_rogue_like::world::WorldGeneration": (
      water_frequency: 0.15,
      dungeon_stone_frequency: 0.0,
      sand_frequency: 0.32,
      dirt_frequency: 0.0,
      stone_wall_frequency: 0.0,
      object_generation_frequencies: {
        Tree: 0.5,
        Boulder: 0.1,
        CoalBoulder: 0.03,
        MetalBoulder: 0.05,
        Grass: 0.4,
        Pebble: 0.005,
        RedMushroom: 0.01,
        BrownMushroom: 0.01,
        BerryBush: 0.005,
        Crate: 0.00012,
        DeadSapling: 0.05,
      },
      schematic_frequencies: {
        // House: 0.08,
        DungeonEntrance: 0.05
      },
      obj_allowed_tiles_map: {
        Tree: [GrassTile],
        Boulder: [GrassTile],
        CoalBoulder: [GrassTile],
        MetalBoulder: [GrassTile],
        Grass: [GrassTile],
        BerryBush: [GrassTile],
        RedMushroom: [GrassTile],
        BrownMushroom: [GrassTile],
        Pebble: [GrassTile, SandTile],
        DeadSapling: [SandTile],
        Chest: [SandTile,GrassTile, DungeonStone],
        StoneWall: [GrassTile, DungeonStone, SandTile],
        Crate: [GrassTile, DungeonStone, SandTile],
      }
    ),
  }
)