(
  name: "YellowBeaconBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": YellowBeaconBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(YellowBeacon)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: YellowBeaconBlock,
        metadata: (
            name: "Yellow Beacon ", 
            desc: ["Place this down to","mark this location."]
        ),
        count: 1
  ),
  }
)