(
  name: "YellowBeacon",
  templates: ["world_object.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": YellowBeacon,
  "survival_rogue_like::item::object_actions::ObjectAction": ToggleBeacon(YellowBeacon),
  "survival_rogue_like::proto::ColliderProto": (x: 4., y: 6),
  "survival_rogue_like::attributes::MaxHealth": (25),
  "survival_rogue_like::item::loot_table::LootTable": (
        drops: [(
                item: YellowBeaconBlock,
                min: 1,
                max: 1,
                rate: 1.
            ),]
        ),
  }
)