(
  name: "YellowFlowerStew",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": YellowFlowerStew,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [ApplyTemporarySpeed(25, 7.0)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: YellowFlowerStew,
        metadata: (
            name: "Yellow Stew", 
            desc: ["A zesty, earthy", "stew that puts", "a little pep", "in your step."]
        ),
        rarity: Uncommon,
        count: 1
  ),
  }
)
