(
  name: "YellowFlowerBlock",
  templates: ["item_drop.prototype.ron"],
  schematics: {
  "survival_rogue_like::item::WorldObject": YellowFlowerBlock,
  "survival_rogue_like::item::item_actions::ItemActions": (actions: [PlacesInto(YellowFlower)]),
  "survival_rogue_like::item::item_actions::ConsumableItem": (),
  "survival_rogue_like::inventory::ItemStack": (
        obj_type: YellowFlowerBlock,
        metadata: (
            name: "Yellow Flower ", 
            desc: ["A Yellow Flower.", "It glows with","wisdom."]
        ),
        count: 1
  ),
  }
)