(
    classes: {
        Warrior: (
            name: "Warrior",
            weapon_description: [
                "Melee weapons:\n\nSword, Spear, Hammer"
            ],
            stat_description: [
                "+5 Health per Level."
            ],
            class_icon: RedPlayerSelectIcon,
            skill_icon: HealthIcon,
            active_skills: (Roll, Shout, Heal, ParrySpear),
            starting_weapons: [Sword, Spear, Hammer],
        ),
        Wizard: (
            name: "Wizard",
            weapon_description: [
                "Magic weapons:\n\nFire, Ice, Basic Staff"
            ],
            stat_description: [
                "+5 Mana per Level."
            ],
            class_icon: BluePlayerSelectIcon,
            skill_icon: ManaIcon,
            active_skills: (Teleport, Lightning, IceWall, FirePillar),
            starting_weapons: [FireStaff, IceStaff, BasicStaff],
        ),
        Rogue: (
            name: "Rogue",
            weapon_description: [
                "Close range multi\n\nstrike dagger attack."
            ],
            stat_description: [
                "+3% Crit Chance per\n\nLevel."
            ],
            class_icon: GreenPlayerSelectIcon,
            skill_icon: CritChanceIcon,
            active_skills: (SprintLunge, DaggerThrow, Stealth, DaggerSlash),
            starting_weapons: [Dagger],
        ),
        Thief: (
            name: "Thief",
            weapon_description: [
                "Fast claw attacks\n\nwith throwing stars."
            ],
            stat_description: [
                "+3% Attack Speed per\n\nLevel."
            ],
            class_icon: GreyPlayerSelectIcon,
            skill_icon: AttackSpeedIcon,
            active_skills: (Roll, PiercingStar, TripleThrow, Fury),
            starting_weapons: [Claw],
        ),
        Hunter: (
            name: "Hunter",
            weapon_description: [
                "Ranged weapons:\n\nBow, Gun"
            ],
            stat_description: [
                "+3% Crit Damage per\n\nLevel."
            ],
            class_icon: GreenPlayerSelectIcon,
            skill_icon: CritDamageIcon,
            active_skills: (Buckshot, Bomb, DruidTree, Rapidfire),
            starting_weapons: [WoodBow, Gun],
        ),
    },
    pets: {
        Slime: (
            name: "Slime",
            description: [
                "Periodically covers you\n\nin slime, protecting you\n\nfrom damage."
            ],
            pet_icon: SlimePetIcon,
            skill_icon: SlimeShieldIcon,
        ),
        Fairy: (
            name: "Fairy", 
            description: [
                "Heals you every once\n\nin a while."
            ],
            pet_icon: FairyPetIcon,
            skill_icon: HPRegenCooldownIcon,
        ),
    },
)
