(
    classes: {
        Warrior: (
            name: "Warrior",
            weapon_description: [
                "Sword"
            ],
            stat_description: [
                "Gain +5 size per level" // 5 lvls, +5 would be 2, 50*5 = 150
            ],
            class_icon: RedPlayerSelectIcon,
            skill_icon: HealthIcon,
            active_skills: (SpinAttack, Shout, ParrySpear,Heal), // pull radius scales with Size
            starting_weapons: [Sword, Spear, Hammer],
        ),
        Wizard: (
            name: "Wizard",
            weapon_description: [
                "Fire Staff"
            ],
            stat_description: [
                "Gain +10 Max Mana per level" // 8 50*10 = 500
            ],
            class_icon: BluePlayerSelectIcon,
            skill_icon: ManaIcon,
            active_skills: (Teleport, MeteorShower, FirePillar,Lightning), // 
            starting_weapons: [FireStaff, IceStaff, BasicStaff],
        ),
        Rogue: (
            name: "Rogue",
            weapon_description: [
                "Daggers"
            ],
            stat_description: [
                "Gain +5 Speed per level" // 10 50*5 = 250
            ],
            class_icon: RoguePlayerSelectIcon,
            skill_icon: CritChanceIcon,
            active_skills: (SprintLunge, Recall, DaggerSlash,PossessedBlade), // one extra slash per 25 speed
            starting_weapons: [Dagger],
        ),
        Thief: (
            name: "Thief",
            weapon_description: [
                "Claw"
            ],
            stat_description: [
                "Gain +5% Attack Speed per level" // 7, but its a rare 250%
            ],
            class_icon: GreyPlayerSelectIcon,
            skill_icon: AttackSpeedIcon,
            active_skills: (Roll, PiercingStar, Fury,TripleThrow),
            starting_weapons: [Claw],
        ),
        Hunter: (
            name: "Hunter",
            weapon_description: [
                "Bow"
            ],
            stat_description: [
                "Gain +3% Crit Chance per level" // 7
            ],
            class_icon: GreenPlayerSelectIcon,
            skill_icon: CritDamageIcon,
            active_skills: (Buckshot, Bomb, ArrowVolley, DruidTree), // crit chance is added as crit dmg
            starting_weapons: [WoodBow, Gun],
        ),
    },
    pets: {
        Slime: (
            name: "Slime",
            skill_description: [
                "Periodically covers you\nin slime, protecting you\nfrom damage."
            ],
            skill_name: "Slime Shield",
            pet_icon: SlimePetIcon,
            passive_description: ["Gain +1 Defence per\nlevel"], //10
            skill_icon: SlimeShieldIcon,

        ),
        Fairy: (
            name: "Fairy", 
            skill_description: [
                "Heals you every once\nin a while."
            ],
            skill_name: "Healing Touch",
            passive_description: ["Gain +1 Health Regen\nper level"], // 5
            pet_icon: FairyPetIcon,
            skill_icon: HPRegenCooldownIcon,
        ),
        Porkipine: (
            name: "Porkipine",
            skill_description: [
                "Damages you for 1 HP\nevery 1.5s when above\n30% health."
            ],
            skill_name: "Spiky Burden",
            passive_description: ["Gain +0.5 Lifesteal\nper level"], // 4
            pet_icon: SlimePetIcon,
            skill_icon: SlimeShieldIcon,
        ),
        GoldenPig: (
            name: "Golden Pig",
            skill_description: [
                "Drops coins every 15s.\n $$$"
            ],
            skill_name: "Coin Drop",
            passive_description: ["Gain +2% Pickup Range\nper level"], 
            pet_icon: SlimePetIcon,
            skill_icon: SlimeShieldIcon,
        ),
        Goliath: (
            name: "Cyclops",
            skill_description: [
                "Small chance for each\nweapon or skill to double\nin size."
            ],
            skill_name: "Giant",
            passive_description: ["Gain +1% Size per\nlevel"],
            pet_icon: SlimePetIcon,
            skill_icon: SlimeShieldIcon,
        ),
    },
)
