[
    (String, ([(item: PlantFibre, count: 4)], Inventory, 1)),
    (StoneChunk, ([(item: PebbleBlock, count: 4)], Inventory, 1)),
    (WoodAxe, ([(item: String, count: 1),(item: StoneChunk, count: 1),(item: Stick, count: 1)], Inventory, 1)),
    (WoodPickaxe, ([(item: String, count: 1),(item: StoneChunk, count: 2),(item: Stick, count: 1)], Inventory, 1)),
    (CraftingTableBlock, ([(item: WoodPlank, count: 1),(item: Log, count: 1),(item: Stick, count: 1),], Inventory, 1)),
    (ChestBlock, ([(item: WoodPlank, count: 4),(item: Log, count: 2)], CraftingTable, 1)),
    (Log, ([(item: WoodPlank, count: 4)], CraftingTable, 1)),
    (Stick, ([(item: WoodPlank, count: 2)], CraftingTable, 1)),
    (Bandage, ([(item: SlimeGoo, count: 4),(item: String, count: 2),(item: PlantFibre, count: 2)], CraftingTable, 1)),
    (Arrow, ([(item: Flint, count: 1),(item: Stick, count: 1),(item: Feather, count: 1)], CraftingTable, 4)),
    (ThrowingStar, ([(item: MetalBar, count: 1)], CraftingTable, 4)),
    (CauldronBlock, ([(item: StoneChunk, count: 10),(item: Coal, count: 2),(item: PlantFibre, count: 4)], CraftingTable, 1)),
    (AnvilBlock, ([(item: StoneChunk, count: 15),(item: MetalBar, count: 10)], CraftingTable, 1)),
    (FurnaceBlock, ([(item: StoneChunk, count: 15),(item: Coal, count: 4)], CraftingTable, 1)),
    (AlchemyTableBlock, ([(item: WoodPlank, count: 8),(item: Log, count: 4),(item: Stick, count: 2),(item: LargePotion, count: 1),], CraftingTable, 1)),
    (RedStew, ([(item: RedMushroomBlock, count: 1),(item: Berries, count: 1),(item: RedFlowerBlock, count: 1)], Cauldron, 1)),
    (Chestplate, ([(item: MetalBar, count: 20)], Anvil, 1)),
    (MetalPants, ([(item: MetalBar, count: 15)], Anvil, 1)),
    (MetalShoes, ([(item: MetalBar, count: 10)], Anvil, 1)),
    (Sword, ([(item: MetalBar, count: 8),(item: Stick, count: 2),(item: StoneChunk, count: 2)], Anvil, 1)),
    (WoodSword, ([(item: Log, count: 2),(item: Stick, count: 2),(item: WoodPlank, count: 2)], CraftingTable, 1)),
    (Dagger, ([(item: MetalBar, count: 6),(item: Stick, count: 2),(item: StoneChunk, count: 1)], Anvil, 1)),
    (ForestShirt, ([(item: BushlingScale, count: 8),(item: Tusk, count: 4),(item: PlantFibre, count: 4)], Anvil, 1)),
    (ForestPants, ([(item: BushlingScale, count: 8),(item: Tusk, count: 4),(item: PlantFibre, count: 4)], Anvil, 1)),
    (ForestShoes, ([(item: BushlingScale, count: 6),(item: Tusk, count: 2),(item: PlantFibre, count: 2)], Anvil, 1)),
    (LeatherTunic, ([(item: Leather, count: 8),(item: Feather, count: 4)], CraftingTable, 1)),
    (LeatherPants, ([(item: Leather, count: 8),(item: Feather, count: 4)], CraftingTable, 1)),
    (LeatherShoes, ([(item: Leather, count: 6),(item: Feather, count: 2)], CraftingTable, 1)),
    (LargePotion, ([(item: PinkFlowerBlock, count: 4),(item: RedFlowerBlock, count: 4),(item: SlimeGoo, count: 4)], AlchemyTable, 1)),
    (SmallPotion, ([(item: PinkFlowerBlock, count: 3),(item: RedFlowerBlock, count: 3),(item: SlimeGoo, count: 2)], AlchemyTable, 1)),
    (MetalBar, ([(item: MetalShard, count: 4),(item: Coal, count: 1)], Furnace, 4)),
    (CookedMeat, ([(item: RawMeat, count: 4),(item: Coal, count: 1)], Furnace, 4)),
]