(
  entities: {
    8529: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -160.0,
            y: 0.0,
            z: 450.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -160.0,
            y: 0.0,
            z: 450.0,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8572: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -88.0,
            y: 72.0,
            z: 449.8877,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -88.0,
            y: 72.0,
            z: 449.8877,
          ),
        )),
        "survival_rogue_like::item::WorldObject": Chest,
        "survival_rogue_like::schematic::loot_chests::LootChestType": Food,
      },
    ),
    8574: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -64.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -64.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8575: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -96.0,
            y: 96.0,
            z: 449.85028,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -96.0,
            y: 96.0,
            z: 449.85028,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8576: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -192.0,
            y: 64.0,
            z: 449.9002,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -192.0,
            y: 64.0,
            z: 449.9002,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8577: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -160.0,
            y: 96.0,
            z: 449.85028,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -160.0,
            y: 96.0,
            z: 449.85028,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8578: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -136.0,
            y: 72.0,
            z: 449.8877,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -136.0,
            y: 72.0,
            z: 449.8877,
          ),
        )),
        "survival_rogue_like::item::WorldObject": Chest,
        "survival_rogue_like::schematic::loot_chests::LootChestType": Uncommon,
      },
    ),
    8589: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -64.0,
            y: 96.0,
            z: 449.85028,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -64.0,
            y: 96.0,
            z: 449.85028,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8601: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -192.0,
            y: 96.0,
            z: 449.85028,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -192.0,
            y: 96.0,
            z: 449.85028,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8606: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -64.0,
            y: 64.0,
            z: 449.9002,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -64.0,
            y: 64.0,
            z: 449.9002,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8607: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -128.0,
            y: 96.0,
            z: 449.85028,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -128.0,
            y: 96.0,
            z: 449.85028,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8610: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -192.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -192.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8657: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -192.0,
            y: 0.0,
            z: 450.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -192.0,
            y: 0.0,
            z: 450.0,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8693: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -64.0,
            y: 0.0,
            z: 450.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -64.0,
            y: 0.0,
            z: 450.0,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    8714: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -168.0,
            y: 72.0,
            z: 449.8877,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -168.0,
            y: 72.0,
            z: 449.8877,
          ),
        )),
        "survival_rogue_like::item::WorldObject": Chest,
        "survival_rogue_like::schematic::loot_chests::LootChestType": Common,
      },
    ),
    8728: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -104.0,
            y: 72.0,
            z: 449.8877,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -104.0,
            y: 72.0,
            z: 449.8877,
          ),
        )),
        "survival_rogue_like::item::WorldObject": Chest,
        "survival_rogue_like::schematic::loot_chests::LootChestType": Rare,
      },
    ),
  },
)