(
  entities: {
    4459: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 64.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 64.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    4460: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -32.0,
            y: -96.0,
            z: 450.14972,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -32.0,
            y: -96.0,
            z: 450.14972,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    4461: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -64.0,
            y: -96.0,
            z: 450.14972,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -64.0,
            y: -96.0,
            z: 450.14972,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    4462: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 64.0,
            y: -96.0,
            z: 450.14972,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 64.0,
            y: -96.0,
            z: 450.14972,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    4464: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -64.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -64.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    4465: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    6891: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 96.0,
            y: -32.0,
            z: 450.0499,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 96.0,
            y: -32.0,
            z: 450.0499,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    6892: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 32.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 32.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    6896: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -64.0,
            y: 0.0,
            z: 450.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -64.0,
            y: 0.0,
            z: 450.0,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    6897: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 96.0,
            y: -64.0,
            z: 450.09982,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 96.0,
            y: -64.0,
            z: 450.09982,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    6906: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -32.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -32.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    6907: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 96.0,
            y: 0.0,
            z: 450.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 96.0,
            y: 0.0,
            z: 450.0,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    6939: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 96.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 96.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    6958: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -64.0,
            y: -32.0,
            z: 450.0499,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -64.0,
            y: -32.0,
            z: 450.0499,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    6964: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -64.0,
            y: -64.0,
            z: 450.09982,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -64.0,
            y: -64.0,
            z: 450.09982,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    6969: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 96.0,
            y: -96.0,
            z: 450.14972,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 96.0,
            y: -96.0,
            z: 450.14972,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    7014: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -160.0,
            y: -32.0,
            z: 450.0499,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -160.0,
            y: -32.0,
            z: 450.0499,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    7030: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -192.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -192.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    7034: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -128.0,
            y: -32.0,
            z: 450.0499,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -128.0,
            y: -32.0,
            z: 450.0499,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    7044: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -160.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -160.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    7046: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -224.0,
            y: -32.0,
            z: 450.0499,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -224.0,
            y: -32.0,
            z: 450.0499,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    7047: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -128.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -128.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    7048: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -128.0,
            y: 0.0,
            z: 450.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -128.0,
            y: 0.0,
            z: 450.0,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    7049: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -224.0,
            y: 32.0,
            z: 449.9501,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -224.0,
            y: 32.0,
            z: 449.9501,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
    7054: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -224.0,
            y: 0.0,
            z: 450.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -224.0,
            y: 0.0,
            z: 450.0,
          ),
        )),
        "survival_rogue_like::item::WorldObject": StoneWall,
        "survival_rogue_like::item::Wall": StoneWall,
      },
    ),
  },
)